[2015-04-07 20:52] vikdenic opened #130 "Authentication credentials"
I am attempting to integrate course data from edX into my iOS app. However the response to my .GET request is:

    {
        detail = "Authentication credentials were not provided.";
    }

The endpoint I am attempting to access is "http://mobile3.m.sandbox.edx.org/api/mobile/v0.5/users/wedu/course_enrollments/".

How do I go about getting authentication credentials via my iOS app?

Thanks,

[2015-04-07 21:26] aleffert commented on #130
Hi @vikdenic. The "mobile3.sandbox.edx.org" server is an internal server we use for testing and you won't have access to it. It's only mentioned in the code as an example in a test. I'm sorry to say that our actual mobile api is also currently inaccessible to third parties. It's still very new and we're not ready to commit to supporting it (hence the v0.5 in the URL).

If you don't mind, would you

[2015-04-07 21:35] vikdenic commented on #130
Akiva,

First off thank you for the quick response. The app I want to make will
allow user's to track courses they are taking, and find others who are in
the same course to chat with.

So to answer your question, I would want edX's iOS library to be able to
allow developers to retrieve course data for certain users.

Thanks again,

On Tue, Apr 7, 2015 at 2:26 PM, Akiva Leffert <notifications@githu

[2015-04-08 02:10] vikdenic commented on #130
Akiva,

Is there a general API that simply provides course information?

I read the following on edX's Github (here
<https://github.com/edx/edx-platform/wiki/RESTful-course-and-xblock-API>):

To retrieve course names, identities (urls), enrollment dates, and

This would be awesome!

Thanks,

On Tue, Apr 7, 2015 at 2:26 PM, Akiva Leffert <notifications@github.com>
wrote:

--
Vik Denic
iOS Developer

[2015-04-08 14:55] aleffert commented on #130
I'm not sure of the exact status of the information there, but I believe it's discussing general course information not per user course information. So even with that you would be able to get a list of all available courses, but not a list of courses an individual is enrolled in.

[2015-04-10 15:53] aleffert commented on #130
@vikdenic I'm going to close this issue since it's not really about our ios app. If this is something that's important for you, I'd encourage you to follow up on our backend which is the edx-platform repo and the associated edx-code mailing list (edx-code@googlegroups.com).

[2015-04-10 15:53] #130 closed

[2015-07-28 14:15] krishnakanthjb opened #317 "Unable to build the edX.xcworkspace"
Tried both the ways to download the code as a zip file and Clone Desktop. and followed the steps mentioned in the ReadMe, and while building the edX.xcworkspace, it is throwing an error. Also tried updating the Pods to avoid the dependency injection.

And it seems like the issue with the grade. Please refer to the attached screenshot and provide the guidelines to proceed further.

Any help appreci

[2015-07-28 15:05] aleffert commented on #317
Hi @krishnakanthjb I googled for that error and it looks like you might have an older version of java. You need at least JDK 7 to build.

[2015-07-29 12:22] krishnakanthjb commented on #317
Thanks a lot!!! It's working fine now by installing JDK..

[2015-07-29 12:22] #317 closed

[2015-08-06 09:31] krishnakanthjb commented on #317
Thanks for the guidance. I did the same, and is working fine now.

Best Regards,
Krishna Kanth J B

-----Akiva Leffert <notifications@github.com> wrote: -----
To: edx/edx-app-ios <edx-app-ios@noreply.github.com>
From: Akiva Leffert <notifications@github.com>
Date: 07/28/2015 08:35PM
Cc: krishnakanthjb <krishnakanth.jb@tcs.com>
Subject: Re: [edx-app-ios] Unable to build the edX.xcworkspace (#317)

[2015-08-19 14:21] krishnakanthjb opened #346 "400 error while signIn"
I am getting the 400 error code, even though i configured the set-up as mentioned in the Readme.md file,  where as I am able to login using the same credentials on the web portal.

Is there any extra web services needs to be hosted still?
Error response : { URL: <Base-URL>/oauth2/access_token } { status code: 400, headers {
    "Cache-Control" = "no-store";
    Connection = "keep-alive";
    "Cont

[2015-08-19 14:42] aleffert commented on #346
@krishnakanthjb have you enabled oauth support on your edx instance?

[2015-08-19 16:50] krishnakanthjb commented on #346
I got ClientID and Client secret....BTW where to enable that..In the edx-master?

[2015-08-19 17:32] aleffert commented on #346
@krishnakanthjb See the instructions here http://edx-installing-configuring-and-running.readthedocs.org/en/latest/mobile.html in particular section 10.2.1 which will give you the server side configuration keys you need to set.

[2015-08-20 11:46] krishnakanthjb opened #351 "iPad support"
Dear Team,

Is EDX supporting iPad application as well. It is observed that the target device is iPhone only(in the edx-master).
               Also please let us know the procedure in order to give support to iPad, I want to customize the UI.

Please clarify.

Thanks..

[2015-08-20 14:53] aleffert commented on #351
@krishnakanthjb We do not support iPad (or Android tablet devices) at this time, though it is on our roadmap. I think you'll find that just enabling it via the Info.plist in Xcode will result in a broken user experience. We expect adding this support to be a serious engineering effort and not just a few quick tweaks.

Also, would you mind describing what kind of UI customization you are planning t

[2015-08-21 09:13] krishnakanthjb commented on #351
May I a rough time like for iPad version, as it would be better experience for the users to take courses from the iPad than iPhone.

Also I am planning to give support to the iPad, by reusing the business logic which is already there.

[2015-08-21 15:03] aleffert commented on #351
@krishnakanthjb As I said, it's on our roadmap, but we don't currently have a date.

[2015-08-26 09:01] krishnakanthjb commented on #351
Thanks for the Info

[2015-08-26 09:01] #351 closed

[2015-09-02 13:18] krishnakanthjb commented on #346
Though enabled the following

"FEATURES" : {
    ...
    "ENABLE_MOBILE_REST_API": true,
    "ENABLE_OAUTH2_PROVIDER": true,
    "ENABLE_COMBINED_LOGIN_REGISTRATION": true
}

in the edx/app/edxapp/lms.env.json. we are still getting the 400 error code.
Also when we are trying

[2015-09-04 10:10] mrimadali opened #384 "SignIn Error : 400 BAD REQUEST"
Hi Team,

We've enabled the following
"FEATURES" :
{ ... "ENABLE_MOBILE_REST_API": true, 
"ENABLE_OAUTH2_PROVIDER": true, 
"ENABLE_COMBINED_LOGIN_REGISTRATION": true 
}
in the edx/app/edxapp/lms.env.json. we are getting the 400 error code while sign in into edX iPhone Application.

Xcode Response :
{ URL: /oauth2/access_token }
{ status code: 400, headers { "Cache-Control" = "no-store"; Connection

[2015-09-04 11:09] mikekatz commented on #384
Are you building with iOS 9 and your endpoint is HTTP and not HTTPS? If so you might be running into App Transport Security.

[2015-09-04 12:05] mrimadali commented on #384
@mikekatz I'm building for iOS 8 not yet for iOS 9. And the End point Url is HTTP not HTTPS. We've downloaded the master copy and followed the ReadMe and configured the same.
We're able to register but not Sign In, It throws 400 Err. Please suggest ?

[2015-09-10 13:20] aleffert commented on #346
@krishnakanthjb You probably need to disable the SSL requirement by setting ``OAUTH_ENFORCE_SECURE`` in your server config to false. Alternately, you can enable SSL on your server, which is recommended for a production configuration.

[2015-09-11 14:50] aleffert commented on #384
Hi @mrimadali you probably need to set up your server not to require SSL for OAUTH. You need to set the ``OAUTH_ENFORCE_SECURE`` flag in your server config to false.

[2015-09-14 11:40] mrimadali commented on #384
Thanks @aleffert, I Will check those settings and give a try.

[2015-09-16 05:52] krishnakanthjb commented on #346
@aleffert Thanks...Will check and let you know the update..

[2015-09-23 16:47] chinlam91 opened #423 "App Transport Security has blocked a cleartext HTTP (http://) resource load since it is insecure ."
Hi Team ,

I have the error below

2015-09-24 00:37:25.949 edX[20106:8581305] App Transport Security has blocked a cleartext HTTP (http://) resource load since it is insecure. Temporary exceptions can be configured via your app's Info.plist file.

May i know how i config my "edx-info.plist" file.

BTW, I have my own host website .

Big Thanks.

Best regards,
MOH

[2015-09-23 17:18] aleffert commented on #423
Hi, I just uploaded a work around for this. It's because of some changes Apple made in iOS 9.

[2015-09-23 17:19] aleffert commented on #423
Also, I don't particularly recommend working with the tip of master. We have stable release branches named "release/<version number>" These are far more likely to be stable than whatever's on master.

[2015-09-23 17:19] #423 closed

[2015-09-24 05:45] chinlam91 commented on #423
hi @aleffert ,
Big thanks for your reply , and may i know which release/xxx package is more stable,
cause when i switch the branch to release/1.0.6 it showed the package changed from 6months ago .

Thanks,
MOH

[2015-09-24 15:01] aleffert commented on #423
@chimlam91 release/1.0.6 is the last released version. It's a bit of an awkward time for us. We're winding down a major iteration of the app with a bunch of new features, but it's not quite ready yet - we're still finalizing endpoint responses and things like that. We expect to lock it down pretty soon.

After that point, we hope to do smaller, more regular releases and make sure unfinished featur

[2015-09-24 17:37] chinlam91 commented on #423
HI aleffert, very big thanks to your replied . I will try the release/1.0.6 version .BTW, is that i need to change the branch and git clone again the repository ?
So sorry about reply to late, cause i'm from Taiwan .
Hope i can fixed my problem .

Thanks,
MOH

[2015-09-24 20:28] aleffert commented on #423
You need to switch branches, but you shouldn't need to clone the repository again. You might want to do ``git pull`` to make sure you have the latest changes. Though since that branch hasn't changed in a while, it probably shouldn't be a concern.

[2015-09-27 18:11] chinlam91 commented on #423
Hi alerffert,

Big thanks for your replied.

MOH

[2015-09-27 18:21] chinlam91 opened #429 "CFNetwork SSLHandshake failed (-9847)"
Hi teams ,

I have some problem about the configuration edx iOS app , this is the error and i have google the problem. It showed it's about the SSL problem .

And i have try to add the OAUTH_ENFORCE_SECURE = "" in my lms.env.json , and have try to add in #Feature and out of #Feature ,  but it still error .

"Environment"
I build on localhost without https

![2015-09-28 2 09 04](https://cloud.githu

[2015-09-28 15:23] aleffert commented on #429
Hrrrm. I haven't seen that before. Does it go away if you disable app transport security entirely?

![screen shot 2015-09-28 at 11 23 06 am](https://cloud.githubusercontent.com/assets/114396/10139947/50103b62-65d3-11e5-8884-4ca96d5f4280.png)

[2015-09-29 07:39] chinlam91 commented on #429
Hi aleffer ,  I found the problem ,  is because i put the https://localhost:8000/ , https just only can merge direct url.
And now i change to http://localhost:8000/ it show wrong again, with the following error.
![2015-09-29 3 35 39](https://cloud.githubusercontent.com/assets/9045652/10157823/23438754-66c0-11e5-859f-1b5cc2320a03.png)

I have check the other issue, but also can't fix my problem .
S

[2015-11-08 20:31] firasalkafri opened #526 "App crashes on orientationChanged (While playing video)"
========BEFORE CRASH========
2015-11-08 22:29:56.267 edX[340:37950] BSXPCMessage received error for message: Connection interrupted
2015-11-08 22:29:59.202 edX[340:37880] Unable to simultaneously satisfy constraints.
	Probably at least one of the constraints in the following list is one you don't want. Try this: (1) look at each constraint and try to figure out which you don't expect; (2) find the

[2015-11-10 16:40] aleffert commented on #526
@firasalkafri thanks for the report, can you provide a little more information. What commit this was on? What are the reproduction steps?

[2015-11-10 22:22] aleffert commented on #526
@firasalkafri Oh okay. I think I found this. It's currently in code review see https://github.com/edx/edx-app-ios/pull/534

[2015-11-16 22:52] aleffert commented on #526
Closing since I believe this is fixed.

[2015-11-16 22:52] #526 closed

[2015-11-16 22:53] aleffert commented on #429
We've disabled app transport security, so any problem here is probably a server configuration issue.

[2015-11-16 22:53] #429 closed

[2015-11-20 05:58] prudveekrishna opened #565 "NSInternalInconsistencyException', reason: 'Unable to load config.'"
Hello Team,

While running code I'm getting crash. Crash log is mentioned below.

*** Assertion failure in -[OEXConfig initWithAppBundleData], /Users/XYZUser/Desktop/edX/edx-app-ios-repo/edx-app-ios-master/Source/OEXConfig.m:64
*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Unable to load config.'

Created "Config.yaml, edx.properties, loca.yaml" files a

[2015-11-20 14:16] aleffert commented on #565
If you do the following command from terminal inside the edx-app-ios directory, does it print what you're expecting?
[code]

[2015-11-23 08:57] prudveekrishna commented on #565
Hello @aleffert

Thanks for the reply. I run above command in terminal. I got buildSrc as UP-TO-DATE and correct URLs in current configuration.. But still the crash exists.
![image](https://cloud.githubusercontent.com/assets/15937557/11332752/469c99a8-91ee-11e5-90bc-03a47f6d0297.png)

[2015-11-25 05:17] rajesh-situ opened #569 "UI issues in rc/2.0.0"
Hi Team,

Found some UI issues for the error popups and my video section.
It was not there in 17th Nov release on master.

regards,
Rajesh

[2015-11-25 14:01] mikekatz commented on #569
What kind of issue? Can you share a screenshot?

[2015-11-25 15:52] aleffert commented on #569
@rajesh-situ I responded to this via your email to the edx-code mailing list. As far as I can tell this is only on master.

[2015-12-07 13:55] prudveekrishna commented on #565
@aleffert Could you check my comment above and provide your input to fix this issue.

[2015-12-07 15:24] aleffert commented on #565
Hi @prudveekrishna. Sorry I missed your last comment. In that console output it says "Could not load edx.properties". That suggests that you have a syntax error in your configuration somewhere. One problem I've seen is people using TextEdit to create their edx.properties file, which will insert smart quotes (like ``‟``) instead of regular quotes, like ``"``

[2015-12-22 10:30] prudveekrishna commented on #565
@aleffert Thanks for the reply. Checked edx.properties file it doesn't contain any quotes("). But I'm getting
-[OEXConfig initWithAppBundleData], /Users/prudvee/Desktop/edX/edx-app-ios-repo/edx-app-ios-master/Source/OEXConfig.m:64.

In code from NSBundle we are getting user details from config.plist. I didn't see any plist in NSBundle. The same code works in another machine. Do we need any setup r

[2015-12-22 12:14] prudveekrishna commented on #565
The code I'm working is corrupted. So pulled fresh copy and it worked. Thanks @aleffert .

[2016-01-06 10:28] krishnakanthjb commented on #569
Team,
Found some UI issues on iPhone 6 and 6 Plus. Attached screenshot.
So, Please let us know if any stable version available.

![ios simulator screen shot jan 6 2016 3 16 10 pm](https://cloud.githubusercontent.com/assets/4661083/12140449/16f37cf4-b48e-11e5-8f80-6e21a234b526.png)

[2016-01-06 10:33] krishnakanthjb opened #632 "Enabling Third Party Authentication- iOS application"
Could you please let us know, how to implement the SSO implementation for the edx-iOS applications.

Similar to web : http://edx.readthedocs.org/projects/edx-installing-configuring-and-running/en/latest/configuration/tpa/

[2016-01-06 16:20] aleffert commented on #569
Hey @krishnakanthjb that bug is no longer present on master, nor is it on the most recent release 2.0.2

[2016-01-06 16:23] aleffert commented on #632
Hey @krishnakanthjb our apps don't currently support SSO.

[2016-01-08 09:43] cucxabeng opened #636 "Unable to load course content. Try again later"
Hi team,

I have an issues when load course content with latest release edx-app-ios. Plz help me.
When my app connect to **devstack**, everythings seem be OK.

But when i connect my app to **fullstack** server (use website OK), i **can not** get **courseware** (can view Handouts, Announcements OK). With Xcode Debug, it shows:
[ERROR|ANALYTICS] @ Optional("CourseOutlineViewController.swift"):144 -

[2016-01-08 15:18] aleffert commented on #636
@cucxabeng in order to help you debug, I need to know what the server is sending you back. Can you find that out?

[2016-01-08 16:01] cucxabeng commented on #636
@aleffert Can you suggest me debug to show what server response? I am trying to find...

[2016-01-08 16:06] aleffert commented on #636
@cucxabeng I usually use Charles (http://charlesproxy.com) to watch my network traffic, but if you don't already have that, you can try setting a breakpoint right here (https://github.com/edx/edx-app-ios/blob/master/Source/NetworkManager.swift#L242) and printing some things to the console or adding debug logs.

Another nice way to capture API output is to find out the request being made and then j

[2016-01-08 16:28] cucxabeng commented on #636
@aleffert First, thank you for very cool tool Charles.
I have just used it to watch network traffic.
I get response **404 NOT FOUND**

http://MY_PRIVATE_DOMAIN/api/courses/v1/blocks/?block_counts=video&course_id=XXXXXXXXX&depth=all&nav_depth=3&requested_fields=graded%2Cstudent_view_multi_device%2Cformat&student_view_data=video&username=zzzz

[2016-01-21 11:12] dmitraver commented on #636
I have same issue actually. Just downloaded the app from app store. Can't access any of the course content. Keeps getting "Unable to load course content" in Courseware section.

[2016-01-21 11:54] prudveekrishna opened #648 "Ping SSO"
Team, can we implement Ping Identity(SSO) for authentication?
Thanks,
Prudvee

[2016-01-21 22:55] aleffert commented on #636
@dmitraver what course are you trying to access? We've had a few reports of that and are looking into it. Feel free to follow up with our support people via the "SUBMIT FEEDBACK" link in the app.

[2016-01-21 22:59] aleffert commented on #636
@cucxabeng are you still having a problem. It doesn't look like that API is behind a settings flag. It's relatively new though, maybe your full stack instance doesn't have that code?

[2016-01-22 10:27] dmitraver commented on #636
@aleffert Embedded Systems, Electronic Interfaces. Thx for suggestion. Will do.

[2016-01-22 16:45] cucxabeng commented on #636
@alefferti Thank you, I found https://openedx.atlassian.net/browse/MA-978
My URL Course API: **/api/course_structure/v0/courses/** instead of **/api/courses/v1/blocks**

It has some different with URL parameters and Response Fields. I follow description in this API on browser and fixed my app OK. Now I'm testing my app.

@dmitraver Did you set true for "ENABLE_MOBILE_REST_API" and "ENABLE_OAUTH2_P

[2016-01-25 12:58] krishnakanthjb opened #652 "Unable to load course content. Try again later."
NSURLSession/NSURLConnection HTTP load failed (kCFStreamErrorDomainSSL, -9813)
[ERROR|ANALYTICS] @ Optional("CourseOutlineViewController.swift"):126 - Unable to load block: Error Domain=org.edx.error Code=-100 "Unable to load course content.
Try again later." UserInfo={NSLocalizedDescription=Unable to load course content.
Try again later.}

We are getting the above error while accessing the course

[2016-01-25 15:43] aleffert commented on #652
Hey @krishnakanthjb can you tell me the content of the request the server is sending back? That's just the generic error we show when we don't have something more specific to show

[2016-01-27 11:25] krishnakanthjb commented on #652
We found the response is  "{
  "detail": "Authentication credentials were not provided."
}"

Can you please let us know, is there any specific configuration change needs to be done?
If yes, please let us know, if that is from server side or in the Xcode application.

[2016-01-27 15:31] aleffert commented on #652
@krishnakanthjb I would guess it's a server side error then, but it's worth verifying that the app is sending the expected oauth ``Authentication`` http header.

Are you using basic-auth by any chance on your server? We've tried to make it work in conjunction with oauth, but there are some weird interactions.

Was this working elsewhere or previously? Perhaps you're missing a config flag on your s

[2016-01-28 11:14] krishnakanthjb commented on #652
Yes.. It's working well with v1.0 with the same configurations, also we were able to play the course videos on v1.0. Not sure what differed on v2.1.

Any help appreciated.

[2016-01-28 17:12] krishnakanthjb commented on #636
@cucxabeng : Are you able to access the course content now?If yes let me know how? I am facing the same issue

Thanks in advance..

[2016-01-28 17:32] aleffert commented on #652
2.1 depends on new API that did not exist for 1.0 @krishnakanthjb if you haven't upgraded your server you will need to do that

[2016-01-28 18:23] krishnakanthjb commented on #652
What exactly did you mean by up gradation..do we need to create the new client Id and secret..or any thing else..

Please clarify as I'm new to server terminology

[2016-01-28 19:18] aleffert commented on #652
@krishnakanthjb over the last several months, we have made changes to the edx-platform server that the new code app code depends on. If you haven't pulled and deployed the latest version of edx-platform in a while, you will need to do that

[2016-01-29 06:41] cucxabeng commented on #636
@krishnakanthjb  Sorry for late reply.
Now my app seems be ok.

1/ Plz follow http://edx.readthedocs.org/projects/edx-installing-configuring-and-running/en/latest/mobile.html to config your LMS server/

2/ I found latest release app works with new API get course and my LMS server is old version. You can test with **http://you_domain.com/api/course_structure/v0/courses/COURSE_ID/blocks+navigation**

[2016-01-29 12:21] krishnakanthjb commented on #652
We are using cypress as platform version. Please let us know if any thing specific. Is The new API containing the 2.1 instead of v 1.0??

[2016-01-29 14:43] aleffert commented on #652
@krishnakanthjb you will need to upgrade from cypress to dogwood to support the v2 app code.

[2016-02-01 13:14] krishnakanthjb commented on #652
Hi ALeffert,

Thanks for the reply.

 We were able to view the list of courses after logged into the application(with cypress server), also we have observed some of the data in the Handouts, Updates.

We facing problem only for the course content.

Will it help in accessing the course content by upgrading the server to dogwood?

Thanks & Regards,
Krishna Kanth J B

-----Akiva Leffert <notification

[2016-02-01 14:36] aleffert commented on #652
@krishnakanthjb yes. You will need to upgrade to dogwood.

[2016-02-01 15:22] ariestiyansyah commented on #652
I also get this issue, ok good info I'll upgrade from Cypress to Dogwood

[2016-02-02 15:14] krishnakanthjb opened #657 "Signed URL for course videos."
Dear Team,

I am planning to use the signed URL's for the courses video. So I would like to know where can I do this customization in the edx v1.0 code. Please mention the class and method name if possible.

Thanks in advance.

[2016-02-02 17:00] aleffert commented on #657
@krishnakanthjb I'm not sure what you mean by signing. Course video URLs are returned by the API.

[2016-02-03 07:47] kythanh commented on #384
Hi @aleffert
By adding `OAUTH_ENFORCE_SECURE: false` flag I can call login without SSL. But now I got issue when calling `/api/mobile/v0.5/my_user_info`. Response from server:

[code]

Do you have any idea?

[2016-02-03 12:27] krishnakanthjb commented on #632
Our application server is enabled with PingOne SSO. Is there any possibility to leverage the same from the mobile application?

[2016-02-03 14:14] aleffert commented on #632
Hi @krishnakanthjb our apps currently don't support SSO. If that's something you want to implement, I'm happy to provide guidance. I haven't looked at it closely, but I would estimate it to be one or two weeks of work.

[2016-02-04 04:59] kythanh commented on #384
I've sorted this issue by updating settings in server. This is django config issue.

[2016-02-04 14:37] #384 closed

[2016-02-04 14:37] #346 closed

[2016-02-04 14:37] #565 closed

[2016-02-04 14:37] #569 closed

[2016-02-04 14:38] #636 closed

[2016-02-04 14:38] #652 closed

[2016-02-05 09:26] #648 closed

[2016-02-10 14:37] krishnakanthjb commented on #632
Hi Aleffert.

Sorry for the late reply.

We are trying to use the certificate based authentication. Following are the steps that we are following from the edx mobile application.
Step 1 :  Mobile app will open the url on safari.
Step 2 : Safari will authentication user using Certificate based authentication and receives the auth token and the user info.
Step 3 : Safari will send the the auth token

[2016-02-11 01:15] aleffert commented on #632
Hi @krishnakanthjb That sounds to me like what you'll need to do, but I am not an expert on SSO, so there may be weird edge cases I don't know about.

Most REST API endpoints need the user to be authenticated first. The login and register endpoints are exceptions. That means when we make a URL request we already include an oauth token. You'll need to connect your URL handler that gets receives the

[2016-02-12 07:44] krishnakanthjb commented on #632
Thanks for the reply.
Few queries:
I didn't observe the session is getting reused for the other API's.
Current API : https://domain/api/mobile/v0.5/users/admin/course_enrollments/?format=json
Also we are using the v1.0 since the server is cypress/nginx.

So please confirm whether will it work if we assigned the new token in OEXSession and OEXAccessToken.

Also let us know, will it have any effect

[2016-02-16 20:25] aleffert commented on #632
@krishnakanthjb which session are you talking about? Maybe you can give me some more detailed examples.

There shouldn't be any problem with enabling the social logins later (though make sure you are branched off v1.0.6 not v1.0). The way the system works, once you have a token it shouldn't matter where it came from.

[2016-02-18 18:39] krishnakanthjb commented on #632
We want to by by pass the signin/ sign up page and want to replace the token with new authentication that we receiving from our server.
 So we want to know, if we assign to the property token in the OEXAccessToken class with the new token, will the enrolled courses work/ videos will work properly??

If yes..please let us know the best way of assigning the token in OEXAccessToken class..

Thanks n

[2016-02-18 20:21] aleffert commented on #632
@krishnakanthjb I would encourage you to look at OEXAuthentication and try to copy with is done for google and facebook. That code is kind of ugly and I'm hoping to refactor it at some point, but it's what we have for now. If you have a valid oauth token everything should just work. I don't know enough

How do you picture a working session going? What time zone are you in?

[2016-02-24 16:18] crmackay opened #673 "feature-request: background playback of video and/or audio"
The current app stops playing as soon as you leave the app. Allowing audio streaming to continue to play in the background is fairly standard (safari allows you to do this for web videos, you just need to press play from the control center), and would be useful for many videos.

Related: allowing users to selectively chose to stream just the audio from a video file would be useful too, especially

[2016-02-24 16:45] aleffert commented on #673
Hi @crmackay thanks for the suggestion. This is actually something we're pretty interested in supporting and it's slowly making its way up our priorities list.

[2016-03-03 18:45] krishnakanthjb commented on #632
Thanks for the reply.
We were able to assign the token the token is generated by nginx server.  But we were not able to get the response if we assign the SAML token which is coming from the PING SSO which is large.

Following is the error details:
Bad Request

Error parsing headers: 'limit request headers fields size'

Status Code: 400 Bad Request
Connection: keep-alive
Content-Length: 179
Content

[2016-03-03 19:01] aleffert commented on #632
Hi @krishnakanthjb, I think you need to convert your SAML token into an oauth token. If you look in ``OEXAuthentication`` you can see us doing similar things for google and facebook, where we take the token from an external service and call the ``/oauth2/exchange_access_token/{backend}/`` endpoint to exchange that token for an edx oauth token. You'll note that the external token is sent as a POST

[2016-03-10 18:35] krishnakanthjb commented on #632
In our case the backend name is tap-SAML which is  not accepting by this api.

[2016-03-10 18:45] aleffert commented on #632
@krishnakanthjb What do you mean by not accepting? Do you mean that the API doesn't work even though you think it should? Or do you mean it goes through a different path entirely so it doesn't matter?

If the API isn't working, you might have better luck asking on the openedx slack.

[2016-03-22 03:44] loclegkxim commented on #636
@cucxabeng We are having the same issue when trying to deploy the Open Edx server to be used by the mobile app. May I send you an email to talk further? My email is loc@gkxim.com

[2016-04-22 04:05] krishnakanthjb opened #712 "Analytics for Mobile applicaiton"
Hi Team,

I want to have analytics for my mobile application. Also I have seen some code in edx source. So can any one let me know how to leverage this feature??

Thanks in advance:-)

[2016-04-22 04:06] #657 closed

[2016-04-22 11:01] krishnakanthjb opened #713 "Available features and server compatibility"
Hello Team,

Is there any document/link to check all the available features, server compatibility for a specific version.

Ex: 2.3.1 is compatible Dogwood server,
New Features : course enrollments.

[2016-04-22 14:50] aleffert commented on #712
Hey @krishnakanthjb we at edx use segment.com (with the google analytics integration) for analytics. All you need to do is sign up for those services and add the appropriate keys to the config. If you want to use a different service, you can implement the ``OEXAnalyticsProvider`` interface calling through to that service and register your provider with ``OEXAnalytics``

[2016-04-22 15:12] aleffert commented on #713
Unfortunately, we don't have that right now, but it's something we've been thinking we should start maintaining. Pretty much everything works with dogwood, though the discussion forums APIs have seen some minor changes and performance improvements since then.

In general, we recommend using the named releases (there's an app tag for dogwood as well).

[2016-04-29 14:11] jagonzalr opened #717 "Private questions"

[2016-04-29 14:18] #717 closed

[2016-05-10 11:38] krishnakanthjb opened #724 "Unable to select any of the courses in Find Courses(native mode) in v2.3.1"
We are trying to enroll the courses from FindCourses, but seems like didselectrow delegate is not yet enabled yet in the code. Please let us know how to proceed further.

We are working on the code v2.3.1, and I think in the edx app(v2.2.7) they are showing on the web view,
Could you tell how to achieve this approach.

Thanks in advance.

[2016-05-13 10:03] krishnakanthjb commented on #724
Seems like the parameter mismatch between course_id and id. It's working now.

[2016-05-13 10:03] #724 closed

[2016-05-28 07:00] krishnakanthjb opened #737 "Enable ClosedCaptions(subtitles) for new videos."
Is there a way to Enable the closed captions to the new course videos. Currently it is not showing the subtitles though selected for the previous course video. But the image is enabled(with a tick mark).

[2016-06-10 13:07] #737 closed

[2016-06-10 15:26] krishnakanthjb opened #746 "Filters in Find Course"
Hi Team,

We are able to find **filter/search** a course in "Find Courses" page in edx v2.2 and 2.4. which was downloaded from app store. Please find attached screenshot. But we are unable to find **filter/search** a course in edx v2.3 and v2.5.

Could you please update us know how to enable the filter option in the Find courses, since we haven't observed that enabled from v2.3.x

Thanks in advanc

[2016-08-05 01:18] caojunhua opened #774 "Sometimes it occurred the error"
sometimes it occurred the error "Command /bin/sh failed with exit code 1",but it sometimes will not occurred the error! And I do not known why....

[2016-08-05 04:30] caojunhua opened #775 "about swift question"
In "SnapshotTestCase.swift",  there's error like this,I tried to see FBSnapshotTestCase,But I can not see it!  And I tried to modify the StandardTolerance's type, and I still can not solve it! So I ask you!Thank you!

private let StandardTolerance : CGFloat = 0.005
//private let StandardTolerance : String = "0.005"
//private let StandardTolerance = 0.005
//private let StandardTolerance : Double =

[2016-08-19 08:55] taojeff opened #785 "not find edX"
When i running project，notice not find edX

[2016-08-19 10:16] taojeff opened #786 "break potion"
![d79c7a68-725f-4c58-a68a-c1e0651f1d99](https://cloud.githubusercontent.com/assets/19642626/17806144/6a240cfa-6635-11e6-807e-e750f2cb2219.png)

[2016-08-19 15:11] taojeff opened #787 "Lack of ‘FIND_COURSES、FIND_COURSES_PROMPT、LOOKING_FOR_COURSE’button"
branch of master V2.5
![1](https://cloud.githubusercontent.com/assets/19642626/17814351/0f42297a-6662-11e6-90c7-e674d9d764fd.png)

[2016-08-19 16:09] taojeff opened #788 "Can not to enter Finde Course DetailsPage In V2.4.0"
Respect of the development team.I Find the Find in V2.4.0 Course, but I can't click into the details page, only Find Course list page.I want to ask what is the situation.And I download version is in the AppStore can click to Find Course page for details

[2016-08-19 16:12] taojeff commented on #788
Can you tell me the Find Course shows a list of pages and Find the Course details page in which folder in V2.4.0 version, which named after the name of the file

[2016-08-19 16:21] taojeff commented on #746
你在最新的2.5版本中找到这个Find Course点击按钮吗？我运行版本的时候在课表页面最底下没有那三个功能。后来我又找到了2.4版本的有课表列表下面的三个按钮可以点击到Find Course页面中。可是又遇到了问题就是在Find Course页面中的列表里我没办法点击进入详情这个让我很不能理解。你遇到这个情况了吗

[2016-08-21 04:38] BenjiLee commented on #787
@taojeff We've recently added the option to disable the Find Courses feature. If the COURSE_ENROLLMENT.TYPE != 'webview', 'native' or null, it default to no Find Courses.

Could you post your configuration file for COURSE_ENROLLMENT?

[2016-08-23 01:02] BenjiLee commented on #746
Are you using your own build?

There is a configuration option to enable/disabled the search bar.
[code]

[2016-08-29 13:07] #785 closed

[2016-08-29 13:07] #786 closed

[2016-09-02 20:08] mamigot opened #796 "Videos' duration shows up as 00:00"
The video's duration shows up as 00:00 on the module's menu, even though its duration is over 3 minutes long (and that's what shows up when you click on it and view it).

![image](https://cloud.githubusercontent.com/assets/4607838/18216825/384a997c-7127-11e6-9431-f8909f05f350.png)

**EDIT:** It appears as though it's not the app's fault... the `/api/courses/v1/blocks/` endpoint it's requesting is

[2016-09-02 21:18] #796 closed

[2016-09-07 21:34] travisnewby commented on #384
@kythanh,

For those of us encountering the same issue, can you post what configuration you had to change?

[2016-09-22 22:04] mamigot opened #804 "Decoding error on closed captions"
Hey,

Just wanted to let you know that the app has some issues decoding what I believe is the HTML from the closed captions (attached is a screenshot of an encoded apostrophe). The screenshot is from edX's official app but it also applies to the latest version of your master branch.

![image](https://cloud.githubusercontent.com/assets/4607838/18766836/296ca04e-80ea-11e6-8bc2-645aeea6d386.png)

Tha

[2016-09-23 11:40] BenjiLee commented on #804
@mamigot  We don't render the HTML for security reasons. This is a content issue that had recently been made so subtitles are slowly getting updated to not include any code in the transcript file.

[2016-09-23 11:40] #804 closed

[2016-10-17 03:49] krishnakanthjb commented on #746
Thanks for the guidelines..it works now.

[2016-10-17 03:49] #746 closed

[2016-10-18 10:13] jagonzalr opened #827 "The executable was signed with invalid entitlements."
Trying to run on a device, I don't understand how to fix this. Is it something to do with the edx.entitlements file that was added?

Thanks.

![screenshot 2016-10-18 12 11 49](https://cloud.githubusercontent.com/assets/3858265/19473467/17f8de3a-952c-11e6-8a38-1ed5a63ccaad.png)

[2016-10-18 10:24] jagonzalr commented on #827
Found the solution. Change edx.entitlements to my own app identifier. I'm a dumbass.

[2016-10-18 10:24] #827 closed

[2016-10-25 20:40] #774 closed

[2016-10-25 20:42] BenjiLee commented on #775
Should be resolved by https://github.com/edx/edx-app-ios/pull/836

[2016-11-03 09:32] mamigot commented on #632
Has there been any progress on integrating SSO over the past few months or is third party auth using OAuth still the best option?

I'm interested in helping out if I can.

Thanks!

[2016-11-07 12:38] krishnakanthjb commented on #632
We are converting the SAML token to Auth token and passing to the APIs.

It is working as expected.

[2016-11-07 12:38] #632 closed

[2017-01-26 17:27] #775 closed

[2017-02-08 03:46] DolphinQuan opened #899 "Process Config Issues"
Can't build the release 2.7.0 project.  Stopping on Running custom shell script 'Process Config' .
`Starting Build
================================================ Start building buildSrc
Evaluating root project 'buildSrc' using build file '/Users/dolphinquan/Downloads/edx-app-ios-rc-2.7.3/buildSrc/build.gradle'.
Download https://repo1.maven.org/maven2/org/eclipse/jgit/org.eclipse.jgit/3.7.0.20150

[2017-02-28 06:47] #712 closed

[2017-02-28 06:52] saeedbashir commented on #713
@krishnakanthjb You can find more on releases here https://openedx.atlassian.net/wiki/display/MA/iOS+Release+History.

[2017-02-28 06:52] #713 closed

[2017-02-28 06:55] saeedbashir commented on #787
@taojeff I'm closing this issue, do let me know if you still need anything on this?

[2017-02-28 06:55] #787 closed

[2017-02-28 07:40] saeedbashir commented on #899
@DolphinQuan Did you have installed updated Java sdk?

[2017-03-03 12:53] lingxinjiang opened #908 "Archive Process Config"
Can't archive the release project
Stopping on Running custom shell script 'Process Config'

/Users/Huatan/Library/Developer/Xcode/DerivedData/edX-etkbiplhnoaatkbopozakulmaoym/Build/Intermediates/ArchiveIntermediates/edX/IntermediateBuildFilesPath/edX.build/Release-iphoneos/edX.build/Script-77BDD65E1A44BD7300EA2A9C.sh: line 2: /Users/Huatan/Downloads/edx-app-ios-master: is a directory
Command /bin/

[2017-03-04 10:16] DolphinQuan commented on #899
I have installed the new Java sdk.  Finally I downloaded this file, and drag into project. It deals

[2017-03-04 10:16] #899 closed

[2017-03-05 05:57] #908 closed

[2017-03-06 02:30] lingxinjiang commented on #899
Hi, I have the same problem, I also did according to your method，But did not resolve the problem，What else do I have to do？

[2017-03-06 09:30] saeedbashir commented on #899
@lingxinjiang Can you check, you have updated [Java sdk](http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html)?

[2017-03-07 11:50] lovebug1988 opened #909 "Please create for swift 3.0"
This code will get deprecated in the next version of  Xcode.
We need to start building on Swift 3.0 NOW.

[2017-03-07 12:53] lovebug1988 commented on #909
@edx  Just create a Swift 3.0 port for the same... we will start contributing. we can have it working in 1 week time.

[2017-03-07 13:55] saeedbashir commented on #909
Hey @lovebug1988. We have this at our roadmap but currently busy with some high priority tasks. It would be great if you can open an OSPR. If you need any assistance, we are here to help you.

[2017-03-08 07:50] lovebug1988 commented on #909
Thanks for the response... I don't have much knowledge(Don't even know what is OSPR)... If you can provide me a starting point (Non compiling code would also be fine to start with.) That would be great.

[2017-03-08 09:10] saeedbashir commented on #909
Sorry I was't clear. OSPR means "Open Source Pull Request". I was saying if you want to contribute for porting of current edX code to swift 3.0, you have to create a new branch from master and then need to make all necessary changes. After porting your branch to swift 3.0, you can create a pull request.

[2017-03-09 13:20] lovebug1988 commented on #909
NVM, I tried a lot... there is so much to learn from this code... You/Your devs are superb...  What a code quality/complexity. Oh WOW!! It is not easy to understand the code. Today a 3 year exp iOS dev is feeling like going back to primary school of coding. Please close issue. Will better wait till it rolls out.

[2017-03-09 13:21] #909 closed

[2017-03-18 09:55] lingxinjiang opened #915 "About Discover Courses"
I set COURSE_ENROLLMENT to native，But there is no login button at the bottom of the course list interface，and In the course details interface, Register for a course of time did not pop up registration screen!

This is why？

[2017-03-19 19:34] BenjiLee commented on #915
I'm not aware of any login button in the course list.  Could you provide a screenshot?

[2017-03-20 05:09] lingxinjiang commented on #915
## my edx：I set COURSE_ENROLLMENT to native
![29a18f4e-903e-41e8-8675-84ca31f42e62](https://cloud.githubusercontent.com/assets/26165126/24089017/6b4c9fe6-0d6c-11e7-9e58-7ff5a3e9cd7a.png)
## edx in appstore：COURSE_ENROLLMENT should be the webview
![913d3a09-6d16-4d75-8d6e-237964886801](https://cloud.githubusercontent.com/assets/26165126/24089059/e34ede14-0d6c-11e7-9306-ae989ef98009.png)
## my edx：W

[2017-03-20 05:22] saeedbashir commented on #915
@lingxinjiang The highlighted BottomBar is dependent on NEW_LOGISTRATION_ENABLED and right now it's only supported fpr COURSE_ENROLLMENT with webview.

[2017-03-20 07:32] lingxinjiang commented on #915
Thank you, I know！I have another question，According to the https://openedx.atlassian.net/wiki/display/MA/App+Configuration+Flags ， I set COURSE_SEARCH_URL to https://www.edx.org/course  and  COURSE_INFO_URL_TEMPLATE to https://webview.edx.org/course/{path_id} , When I click on the course list to the details,  Did not push another controller But Open link in safari, I read the code，When I click on,

[2017-03-20 07:46] saeedbashir commented on #915
@lingxinjiang Can you share the value of url so that I can look into it, why the filter is not working?

[2017-03-20 08:11] lingxinjiang commented on #915
![462ccc32-e74b-48ab-ba99-4f06beea43f6](https://cloud.githubusercontent.com/assets/26165126/24092028/bdc1f392-0d86-11e7-8874-cdc1f4520844.png)

![a95cce59-b755-48f9-881b-dc18b1be9f18](https://cloud.githubusercontent.com/assets/26165126/24092107/230b1e4a-0d87-11e7-912d-22805c706eea.png)

When click on
Print out the value：
url : https://www.edx.org/course/english-grammar-style-uqx-write101x-3
urlSsc

[2017-03-20 08:37] saeedbashir commented on #915
@lingxinjiang Can ypu try 'https://webview.edx.org/course' for COURSE_SEARCH_URL.

[2017-03-20 09:00] lingxinjiang commented on #915
Thank you, This is ok!  When I replace COURSE_SEARCH_URL with my own url，There is still the problem， I set COURSE_SEARCH_URL for http://mooc.huatandm.com/courses, My API_HOST_URL is  http://mooc.huatandm.com,  The COURSE_SEARCH_URL I set should be incorrect，How can i get the correct url similar to https://webview.edx.org/course， What else do I need to do? Or some configuration about the background

[2017-03-20 09:10] saeedbashir commented on #915
@BenjiLee Can we have your input here?

[2017-03-20 09:17] lingxinjiang commented on #915
YES, of course!

[2017-03-20 10:57] lingxinjiang commented on #915
I think we need an available url  for COURSE_SEARCH_URL instead of http://mooc.huatandm.com/courses， But I don't know how to get a usable url, What do i need to do? Please help me to see how to solve，Thank you!

[2017-03-20 13:39] BenjiLee commented on #915
We should update this in the wiki

[2017-03-20 14:16] BenjiLee commented on #915
So this is what I would imagine the final config to look like.
[code]
We are handling for a very specific url parsing.
iOS: https://github.com/edx/edx-app-ios/blob/master/Source/OEXFindCoursesViewController.m#L100
Android: https://github.com/edx/edx-app-android/blob/master/OpenEdXMobile/src/main/java/org/edx/mobile/util/links/EdxCourseInfoLink.java#L27

This would need to be changed to handle the

[2017-03-20 18:23] saeedbashir commented on #915
@BenjiLee Actually @lingxinjiang wanted to know that, what special configurations were made at url 'https://webview.edx.org/course' so its returning path like 'edxapp://course_info?path_id=course/english-grammar-style-uqx-write101x-3'.

[2017-03-20 18:27] saeedbashir commented on #915
When @lingxinjiang used 'https://www.edx.org/course' for COURSE_SEARCH_URL he is getting plain

[2017-03-20 19:14] BenjiLee commented on #915
That would be up to the website to handle it. I believe webview.edx.org is specially configured only for our mobile production app's usage and adds the deeplink `edxapp://` for the course cards.

@AlasdairSwan would know more about.

[2017-03-21 11:16] lingxinjiang commented on #915
Thank you！Since the webview.edx.org is specially configured only for your mobile production app's usage,If there is no good way to solve， I'm going to give up the webview mode，I tried native mode and had a problem

I know it's only supported for COURSE_ENROLLMENT with webview
so I annotated on this line of code in CourseCatalogViewController to prevent crashes
![ec1c5d45-a672-44d0-bf1c-416bfa0b0c0

[2017-04-07 17:00] tomangistalis opened #922 "Edx LMS Events"
Is there a way in the app to get the events published by LMS? (As described in section 4.2.1.1 http://edx.readthedocs.io/projects/edx-developer-guide/en/latest/extending_platform/xblocks.html)

[2017-04-10 14:19] BenjiLee commented on #922
What is your use case? The app uses a webview to render the xblock so it anything other than what is loaded rom the xblock.

[2017-05-11 13:18] ahmedaljazzar opened #930 "You haven't downloaded any videos when logging out and then logging in again"
If I installed videos and the download is complete, and after I log out then log in again and navigate to the My Video modules all the downloaded videos disappear. However, if you navigate to any course that you have previously downloaded its videos the video will appear in the module again.

I noticed while I'm debugging these log messages when the videos refuse to appear after I access the modul

[2017-05-11 14:16] ahmedaljazzar commented on #915
Hello, I'm also trying to enroll in courses after I login in the app, but courses are not clickable so I cannot see Course About page that has courses' information and enroll button.

[2017-05-11 14:17] ahmedaljazzar commented on #915
Hello, I'm also trying to enroll in courses after I login in the app, but courses are not clickable so I cannot see Course About page that has courses' information and enroll button. Is it not ready yet?

[2017-05-17 09:15] saeedbashir commented on #930
@ahmedaljazzar On logout we are flushing user sensitive data. Videos will appears under My Videos after successfully fetching of enrolled courses.

[2017-05-17 09:25] saeedbashir commented on #915
@ahmedaljazzar Course discovery without login is only configured with COURSE_ENROLLMENT type webview. But you can disable course discovery without login. In this way you can easily use native version of COURSE_ENROLLMENT.

[2017-05-17 09:26] saeedbashir commented on #788
@taojeff Are you still facing this issue?

[2017-05-17 10:54] ahmedaljazzar commented on #915
@saeedbashir I tried this, but I figured out today that the [api/courses/v1/courses/](https://github.com/edx/edx-app-ios/blob/8030965273116377baa68b4b1b6f40d5c1883a46/Source/CourseCatalogAPI.swift#L45) is putting courses ids under the key `course_id`, while [OEXCourse](https://github.com/edx/edx-app-ios/blob/master/Source/OEXCourse.m#L110) is looking them up using the key `id`.

[code]

This is th

[2017-05-17 10:58] saeedbashir commented on #915
I'm glad you have fixed the issue. I'm closing this issue. Do let me know if I can help you in any any.

[2017-05-17 10:58] #915 closed

[2017-05-17 11:33] ahmedaljazzar commented on #915
Thanks @saeedbashir. However, I don't think this issue is related, but #788 is.

[2017-05-18 13:26] jagonzalr opened #936 "Segmentation fault: 11"
The last PR breaks the app.

Throws a segmentation fault: 11

It is on CourseCatalogDetailViewController on the function listen

[code]

The problem seems to be on
[code]

If I comment that entire code then the app builds correctly but then the users wouldn't be able to enroll

@saeedbashir @salman2013

[2017-05-19 10:28] saeedbashir commented on #936
@jagonzalr It's a weird xCode issue. Some times xCode start throwing this error while compliing swift files. Which xCode you are using? Can you try by deleting xcdata and cleaning your project.

[2017-05-19 10:37] jagonzalr commented on #936
@saeedbashir I'm still using Xcode 8.2.1

[2017-05-19 10:42] saeedbashir commented on #936
Did you tried by deleting DrivedData and cleaning project?

[2017-05-19 10:44] jagonzalr commented on #936
@saeedbashir I'm gonna try that. And also I got Xcode 8.3.2 so I'm also gonna try in that version.

[2017-05-19 11:18] jagonzalr commented on #936
@saeedbashir it seems to build in Xcode 8.3.2

[2017-05-19 11:18] #936 closed

[2017-05-22 09:35] mrchoke opened #938 "Course enrollment not responded. [swift3]"
Thank you for updated to swift 3. I download and build everything work fine. but I can't enroll  the course . touch the "Enroll now" button and it not respond. and I enable SEARCH_BAR_ENABLED: true but it doesn't show

--- My Config---
[code]
* Can't Enroll

![img_9378](https://cloud.githubusercontent.com/assets/3403645/26301415/5e105ec8-3f0b-11e7-9ffc-d3e8c85156c5.PNG)

* Search bar not show

![i

[2017-05-22 09:41] saeedbashir commented on #938
@mrchoke Can you share test credentials so that I can check why course enrollment is not working at your end?

[2017-05-22 10:11] saeedbashir commented on #788
@taojeff Closing this issue because of no followup.

[2017-05-22 10:11] #788 closed

[2017-05-22 15:43] mrchoke commented on #938
@saeedbashir sorry for late respond. I found bug in new user creation on my test system(CAS). I will connect to you again when I fixed it.

the course I try to enroll it sill active I can enroll on lms website.

[2017-05-23 15:59] jagonzalr commented on #938
@saeedbashir I can confirm. It just hangs with the spinner but the action is never called.

[2017-05-23 16:16] saeedbashir commented on #938
@mrchoke @jagonzalr Can any one of you share your config and credentials of a test user of that I can look what is breaking at your end because it is perfectly working fine at our end.

[2017-05-26 10:39] mrchoke commented on #938
@saeedbashir how I sent you my config? mrchoke at gmail.

[2017-05-26 11:16] saeedbashir commented on #938
@mrchoke A ticket is created for said issue. We will be fixing this issue in current sprint. Sorry for inconvenience.
https://openedx.atlassian.net/browse/LEARNER-1181

[2017-05-26 12:32] mrchoke commented on #938
@saeedbashir  Can I comment it that issue ?

[2017-05-26 15:06] saeedbashir commented on #938
@mrchoke I don't know you have permissions or not. What you want to comment?

[2017-05-26 15:08] jagonzalr commented on #938
@saeedbashir so you could reproduce this bug? You know what is the problem?

[2017-05-26 15:11] mrchoke commented on #938
@saeedbashir Now I prepared OAUTH_CLIENT_ID for you testing on my edx ., I'm not sure it can post on public?

[2017-05-27 06:33] saeedbashir commented on #938
@mrchoke You don't have to post OAUTH_CLIENT_ID. I was able to replicate the issue and fix is on the way.

[2017-05-29 11:50] saeedbashir commented on #938
@mrchoke The issue has been fixed. Do let me know if you need any thing from me.
 #https://github.com/edx/edx-app-ios/pull/942

[2017-05-29 11:50] #938 closed

[2017-05-29 11:55] mrchoke commented on #938
Thank You @saeedbashir , I will test it again. Branch salman/LEARNER-1181 right ?

[2017-05-29 12:56] saeedbashir commented on #938
Yup.

[2017-05-29 14:55] mrchoke commented on #938
Now I can enroll course, but it not redirect to my dashboard.

demo clib

https://www.youtube.com/watch?v=hLGFIKiKTL8

[2017-05-29 15:26] saeedbashir commented on #938
@mrchoke It's redirecting to course dashboard but somehow it's taking longer for loading course content.

[2017-06-02 07:44] mrchoke opened #946 "Course's staff image doesn't show in course info page."
Course info doesn't show image of staff, see attach for detail.

This shown in web version.
![screenshot 2017-06-02 14 34 28](https://cloud.githubusercontent.com/assets/3403645/26715943/bfe04110-47a1-11e7-8d4b-d37b1a64d713.png)

This shown in mobile app.
![img_9446](https://cloud.githubusercontent.com/assets/3403645/26715956/d1a18378-47a1-11e7-981b-60af9425997d.PNG)

[2017-06-22 15:17] mamigot opened #954 "SAML-Based Single Sign-On"
Hey edX,

I wanted to re-open the issue that was raised by #632 , specifically as it pertains to SAML auth backends on the platform which are completely unsupported by the apps now.

What's the status of the development of this feature? If work has already been started, would there be any opportunities to contribute / help?

Thanks!
Miguel

[2017-07-16 12:26] omartr opened #963 "Video Component not showing the video"
Hello!

While the videos are working in Android version of the app, it's not appearing in the ios version
we still have a message that mention "you cannot see this video here, Go to youtube"
although the videos urls are set properly in the studio, also when when you press the link  it goes to our url not to the youtube!

Does there any additional requirement to the video in ios rather than what re

[2017-07-26 19:52] jleong-openedx opened #969 "Support for the Peer Instruction XBlock?"
Hi,

We (at the University of British Columbia) have developed the Peer Instruction XBlock

https://github.com/ubc/ubcpi

which is integrated into the edx-platform and in use by many courses (for example, courses that are part of the [Software Development Micromasters Program](https://www.edx.org/micromasters/software-development)).

Is there support for this XBlock in the iOS app? Students access

[2017-08-02 09:22] saeedbashir commented on #963
@omartr Your problem was resolved by following it on slack channel so I'm closing this issue.

[2017-08-02 09:22] #963 closed

[2017-09-18 08:03] saeedbashir commented on #969
@jleong-openedx Closing in the favor of @MirzaMubasharBaig comments on the Slack channel.

[2017-09-18 08:03] #969 closed

[2017-10-02 09:36] kornava opened #1007 "No offline access for text content"
The application let the user download the video for the offline access while you it's impossible to access text content when you are out of connection.
Are you serious?

[2017-10-05 09:45] duraiganesh0 opened #1010 "No signature of method: java.io.File.plus() is applicable for argument types: (java.lang.String) values: [ not found. Skipping.]"
When i run the app, it is running well. But when i try to archive it, i get these errors

FAILURE: Build failed with an exception.

What could be the problem?
I have given the build.gradle file below...

[code]

[2017-10-05 10:12] saeedbashir commented on #1010
It seems your config file is not valid.

[2017-10-05 10:39] duraiganesh0 commented on #1010
@saeedbashir where to change that?

[2017-10-05 10:54] saeedbashir commented on #1010
Have you created `edx.propertie` file if not then please follow readme file and create one.

[2017-10-05 10:58] duraiganesh0 commented on #1010
yes. I have created it @saeedbashir

[2017-10-05 11:00] duraiganesh0 commented on #1010
i can login and see my courses. but when i try to archive it, it throws this error

[2017-10-05 11:01] saeedbashir commented on #1010
oh, then there might be some issues in entries. Have a look at this document to see how you could add entries https://openedx.atlassian.net/wiki/spaces/MA/pages/48792067/App+Configuration+Flags.

[2017-10-05 11:10] duraiganesh0 commented on #1010
i dont know about gradles. it throws an unrelated error. I dont think this has anything to do with configurations.

[2017-10-05 11:15] duraiganesh0 commented on #1010
@saeedbashir i followed the same document

[2017-10-05 11:18] saeedbashir commented on #1010
Can you share exact error that you are facing? Screenshot would be great.

[2017-10-05 12:33] duraiganesh0 commented on #1010
These are the screenshots @saeedbashir

![screen shot 2017-10-05 at 6 01 21 pm](https://user-images.githubusercontent.com/14903305/31227431-76647246-a9f7-11e7-82eb-690231f492d5.png)
![screen shot 2017-10-05 at 6 01 44 pm](https://user-images.githubusercontent.com/14903305/31227432-7665fa62-a9f7-11e7-97d5-471eaf9c4bef.png)
![screen shot 2017-10-05 at 6 02 12 pm](https://user-images.githubuserconten

[2017-10-05 13:07] saeedbashir commented on #1010
Do share whole exception and can you share your config file?

[2017-10-05 13:18] duraiganesh0 commented on #1010
[code]

`OAUTH_CLIENT_ID: '03eef0d45c4'
`

`edx.dir = '../edx-app-ios-master/my_config'
`

[2017-10-05 14:03] saeedbashir commented on #1010
Instead of content can you share `edx.properties` file.

[2017-10-06 06:25] duraiganesh0 commented on #1010
here it is @saeedbashir

[edx.properties.zip](https://github.com/edx/edx-app-ios/files/1361703/edx.properties.zip)

[2017-10-06 07:48] saeedbashir commented on #1010
Please do share files that are in `my_config` folder

[2017-10-06 17:09] duraiganesh0 commented on #1010
I found out what was causing the problem.
in `my_config/edx.properties` file i have given two config files i.e
[code]
But in that directory i created only one file i.e `ios.yaml` file. So the configuration gradle was looking for the file `shared.yaml` file. So i removed that and the error is gone. phewww.. thanks for your help @saeedbashir

[2017-10-06 17:09] #1010 closed

[2017-10-08 11:32] hennessytj opened #1012 "Touch response for iOS 11.0.2 is unreliable"
When attempting to click (touch) videos and course content on iPhone 7 iOS 11.0.2 the app is unresponsive.  Upon open/reopen touch will work more reliably for one time then return to being unresponsive.

[2017-10-14 13:00] duraiganesh0 opened #1018 "Whitelabelling doesnt work"
I followed the steps in the readme file and i dont see any results after running the python script. sorry i'm new to this whitelabelling.

[2017-10-19 22:25] damienstanton commented on #1012
I can confirm the same, on same iOS build using iPhone 7+

[2017-10-31 11:05] saeedbashir commented on #1018
@duraiganesh0 Can you please specify exactly what wasn't work?

[2017-10-31 11:07] saeedbashir commented on #1012
This was fixed under the scope of [PR](https://github.com/edx/edx-app-ios/pull/1013/files) and even rolled out in V 2.11.2

[2017-10-31 11:07] #1012 closed

[2017-11-13 09:04] duraiganesh0 commented on #1018
sorry @saeedbashir it is working now. thanks!

[2017-11-13 09:04] #1018 closed

[2017-12-27 05:32] pomegranited commented on #632
@krishnakanthjb

Can you point me to your code which does this for a SAML TPA provider?  I dug through the [branches on your fork](https://github.com/krishnakanthjb/edx-app-ios/branches/active) and couldn't find any which did this.

[2017-12-27 06:00] pomegranited commented on #632
@jaimeohm There's an [edX meeting agenda](https://openedx.atlassian.net/wiki/plugins/viewsource/viewpagesrc.action?pageId=161758041) that mentioned Appsembler is looking into this too -- do you have any code, resources, or lessons learned to share?

[2018-01-15 23:02] freebooterish opened #1056 "Sign-in Error"
When launch the emulator in the Xcode, it show:

Sign-in error: the certificate for this server is invalid, you might be connecting to a server that is pretending to
Be 42.x.x.106  which could put your confidential information at risk

[2018-01-16 01:36] freebooterish opened #1057 "Sign-in error"
when I log in, it shows a dialog:
Sign-in error: Please make sure that your user name or e-mail address and password are correct and try again.

But the username/password is correct when I log ni with Web page.

What went wrong?

[2018-01-17 13:32] blackherohd opened #1059 "I have a problem with (void (^)(void))"
I use XCode Version 8.3.3 (8E3004b), MacOS 10.12

/Users/haian/Downloads/edx-app-ios-master/Source/OEXAppDelegate.m:172:141: Conflicting parameter types in implementation of 'application:handleEventsForBackgroundURLSession:completionHandler:': 'void (^ _Nonnull __strong)()' vs 'void (^__strong _Nonnull)(void)'

Image: https://i.imgur.com/aPUNwNw.jpg

[2018-01-18 09:20] saeedbashir commented on #1059
@blackherohd You need at least Xcode 9.2 to run the latest master.

[2018-01-18 09:21] saeedbashir commented on #1057
@freebooterish on mobile `AUTH_CLIENT_ID` is also required for authentication. Are you using `AUTH_CLIENT_ID`?

[2018-01-18 12:47] blackherohd commented on #1059
Thanks for this reply.
What version of exd app I can run with my XCode, I can't update it because
my OS Version.
Brgds!

On Thu, Jan 18, 2018 at 4:20 PM Saeed Bashir <notifications@github.com>
wrote:

--
Best Regards, ******************************************** Nguyen Thang Hai
An Email: blackherohd@gmail.com Facebook: fb.com/blackherohd Mobile: +(84)
1694 291 984 ********************************

[2018-01-18 12:49] saeedbashir commented on #1059
You can run [2.12.1](https://github.com/edx/edx-app-ios/releases/tag/release%2F2.12.1) with Xcode  8.3.3

[2018-01-18 12:49] #1059 closed

[2018-01-18 12:51] blackherohd commented on #1059
Thank for help!

On Thu, Jan 18, 2018 at 7:49 PM Saeed Bashir <notifications@github.com>
wrote:

--
Best Regards, ******************************************** Nguyen Thang Hai
An Email: blackherohd@gmail.com Facebook: fb.com/blackherohd Mobile: +(84)
1694 291 984 ********************************************

[2018-01-18 19:33] freebooterish commented on #1057
I added the OAUTH_CLIENT_ID to the local.yaml file,  it's OK, Thanks.

[2018-01-18 19:35] #1056 closed

[2018-01-19 01:24] #1057 closed

[2018-01-19 01:36] freebooterish opened #1060 "It looks like you are not enrolled in any courses yet"
Hi, I  can't see any course when I launched the idx-app-ios, just see message:  It looks like you are not enrolled in any courses yet.  BUT I can see at least one course in web browser.
Anything wrong?

[2018-01-19 07:51] saeedbashir commented on #1060
Ideally `My Courses` screen should show all enrolled courses. Can you please share `URL` of your sandbox and test credentials so that I can have a look?

[2018-01-19 08:30] freebooterish commented on #1060
@saeedbashir  Our URL information:
OAUTH_CLIENT_ID: '13e39d5bb04d3a5adbb8'
API_HOST_URL: 'http://47.52.253.46'
ENVIRONMENT_DISPLAY_NAME: 'Localhost'
FEEDBACK_EMAIL_ADDRESS: 'support@example.com'
thank you.

[2018-01-19 09:12] saeedbashir commented on #1060
@freebooterish I can see, enrolled course is not appearing at mobile. Can you please share `studio` link as well?

[2018-01-19 09:36] freebooterish commented on #1060
@saeedbashir my studio link is: http://47.52.253.46:18010
staff:   freebooterish@163.com   qazwsx09
thanks you very much.

[2018-01-19 10:09] saeedbashir commented on #1060
@freebooterish Course was not mobile friendly that's why it was not appearing on mobile. I have made the course available for mobile and now it's appearing on mobile. You need to set [Mobile Course Available](http://47.52.253.46:18010/settings/advanced/course-v1:edX+DemoX+Demo_Course) `true`.

[2018-01-19 10:25] freebooterish commented on #1060
@saeedbashir I see, thank you

[2018-01-19 12:21] miankhalid commented on #1060
@freebooterish since this looks like your own instance, you can enable the following flag in mobile_api from the Django admin.

Reference: https://github.com/edx/edx-platform/pull/14301/files#diff-657c5bf569656a333d5adfb058a876d6R86

What it will do is ignore the `Mobile Course Available` flag on the studio and return all the courses in which the user is enrolled.

[2018-01-20 05:24] freebooterish opened #1061 "Can't receive the activate email"
When  I sign up a new account,  I can't receive the activate email... I stuck in the registration each time😥
Where should I find log related to email sending?
Many thanks with your help.

[2018-01-20 07:23] freebooterish commented on #1060
@miankhalid Thank you very much it's very helpful

[2018-01-22 12:35] saeedbashir commented on #1061
@freebooterish Have you entered SMP configurations for your instance?
It would be good if you can follow up on [OpenedX slack channel](https://openedx.slack.com/) channel for general issues because it seems it's not a mobile-specific issue. On slack, you can get instant replies from edX or open edX community for general issues.

[2018-01-23 16:11] #1061 closed

[2018-01-23 16:23] freebooterish opened #1063 "A new login issue"
Hi, I'm sorry to ask your help again,
I reinstall a new openedx instance by the  Bitnami installer to,   and I can successfully register a new account with Edx-app-ios,  I can log on to the LMS  by the Chrome browser (with the new account).
BUT I failed to login by  Edx-App-ios（with the same new account）,it display errors:
"Please make sure that your user name or e-mail address and password are co

[2018-01-26 20:30] #1063 closed

[2018-02-04 09:56] blackherohd opened #1068 "Sign-In Error"
I cant Sign Up and Sign In but I can use Forgot my password.
I setup like this picture
XCode 8
MacOS 10.12
Edx app 2.12.1
![screen shot 2018-02-04 at 5 46 15 pm](https://user-images.githubusercontent.com/29324851/35776698-f2df2848-09d3-11e8-97fd-38d3edbf74a8.png)

[2018-02-08 07:14] jagonzalr opened #1070 "Pull Refresh not working on iPhone and iPad"
**EDIT: I tested it again and it appears to be both iPhone and iPad when they are not running on iOS 11**

When the flag `TAB_LAYOUTS_ENABLED` is set to `True` and a pull refresh is made on the `Course Outline` it doesn't show the `Pull Refresh Controller` and the layout on the table view gets messy.

It works correctly on iPhone

<img width="1440" alt="screen shot 2018-02-08 at 9 05 58 am" src="h

[2018-02-08 08:49] saeedbashir commented on #1070
@jagonzalr I have checked it and `Pull to Refresh` is working perfectly fine in both portrait and landscape modes.

[2018-02-08 09:20] jagonzalr commented on #1070
@saeedbashir I send an app to review and Apple rejected it. So there is definitely something wrong.

![attachment-5147918292194852039screenshot-0206-121026](https://user-images.githubusercontent.com/3858265/35964923-d8a05eca-0cc1-11e8-85bf-4d44dafb2348.png)
![attachment-5997758284849713160screenshot-0206-121045](https://user-images.githubusercontent.com/3858265/35964928-daa99358-0cc1-11e8-888e-acb

[2018-02-08 09:50] saeedbashir commented on #1070
@jagonzalr It's working perfectly fine at my end.
![simulator screen shot - ipad pro 9 7-inch - 2018-02-08 at 14 48 36](https://user-images.githubusercontent.com/5606473/35966300-40f9a2f2-0cdf-11e8-92eb-0807fabf455c.png)
![simulator screen shot - ipad pro 9 7-inch - 2018-02-08 at 14 48 46](https://user-images.githubusercontent.com/5606473/35966305-43ba5694-0cdf-11e8-958e-b2b309a1ea21.png)
I'm afra

[2018-02-08 10:47] jagonzalr commented on #1070
@saeedbashir which versions of iOS we support for the app. I just replicated your behaviour (the correct one) on iOS 11.2 but if I run it on iOS 10.2 then my behaviour (the wrong one) happens. Did you tried with different iOS versions? cc @staubina

Here is iOS 11.2 (good)

<img width="1440" alt="screen shot 2018-02-08 at 12 26 24 pm" src="https://user-images.githubusercontent.com/3858265/35968913

[2018-02-13 14:58] jagonzalr commented on #1070
@saeedbashir I put the fix that you guys made and it is working. Gonna close this issue. cc
@staubina

[2018-02-13 14:58] #1070 closed

[2018-02-13 15:03] saeedbashir commented on #930
This issue is no more because we have deprecated `My Videos` area from mobile.

[2018-02-13 15:03] #930 closed

[2018-02-23 18:44] blackherohd commented on #1068
@freebooterish I solved your way but failed. Plz help.

[2018-02-24 14:01] blackherohd commented on #1063
I have same issue. Please help!

[2018-02-26 08:10] saeedbashir commented on #1068
@blackherohd Have you properly set up `AUTH_CLINET_ID` on your server?

[2018-03-06 15:22] Omar-allahham opened #1083 "Facebook sdk alert"
Hello!
We got this alert from facebook about our edX app
"Your Facebook SDK for iOS is out of date and missing important iOS 11 fixes that make it easier for people to log into your app. When you upgrade to the latest SDK, fewer people will have to re-enter their Facebook username and password to use your app because their logged in state is maintained in Safari. On average, we have seen a 14% bet

[2018-03-10 12:09] phyominthu commented on #915
@saeedbashir The issue on [this comment](https://github.com/edx/edx-app-ios/issues/915#issuecomment-288048150) is still happening for me. I set `native` mode and course detail view is always loading.

@LanceJJ Have you found any solution for that?

[2018-03-13 18:34] naveenkothiyal commented on #565
when I build the code it successfully builds but crashed on the splash and shows me this error :
**Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Unable to load config.'**

when I run this command over terminal it shows me as follows :
![screen shot 2018-03-13 at 11 59 22 pm](https://user-images.githubusercontent.com/13073646/37362453-4103d424-271b-11e8-8bd0

[2018-03-29 11:35] yinmin1982 opened #1091 "Resource missing. [HTTP GET: https://repo1.maven.org/maven2/org/codehaus/groovy/groovy-all/2.6.0-alpha-3/groovy-all-2.6.0-alpha-3.jar]"
Hello!
I have a issues when i run the edx,here is pic.
can you help me to fix it?
![image](https://user-images.githubusercontent.com/13896860/38086787-49b8ae04-3388-11e8-9dcf-4e9b41dfea10.png)
thx!

[2018-04-11 11:04] phyominthu opened #1096 "Course Details view is always loading in Native mode"
This issue is identical to the one stated in [this comment](https://github.com/edx/edx-app-ios/issues/915#issuecomment-288048150). I set `COURSE_ENROLLMENT = native` and `NEW_LOGISTRATION_ENABLED = true`.

Case 1: Install the app. Tap **Discover Courses**. The course catalog appears normal. But when I tap on a course, the course details view is **always loading**.

![Always Loading](https://cloud.

[2018-04-18 13:55] saeedbashir commented on #1096
@phyominthu Native course discovery is not supported with `NEW_LOGISTRATION_ENABLED`.

[2018-04-26 09:28] saeedbashir commented on #1096
@phyominthu I hope I have answered your query. Please do let me know if you want to know more.

[2018-04-26 09:28] #1096 closed

[2018-04-26 09:31] saeedbashir commented on #1091
@yinmin1982 Please rebase your branch with `origin/master`. The said issue is no more exist on `origin/master`

[2018-04-26 09:31] #1091 closed

[2018-04-26 09:34] saeedbashir commented on #1068
@blackherohd I believe you were able to fix the issue. I'm closing this issue. Please do let me know if it still exists?

[2018-04-26 09:34] #1068 closed

[2018-04-29 07:14] phyominthu commented on #346
@krishnakanthjb Was the issue fixed for you? What did you change to make it work? I'm having the same problem right now.

[2018-04-29 08:12] phyominthu commented on #384
@mrimadali Was the issue fixed for you? What did you change?

@aleffert `OAUTH_ENFORCE_SECURE` is already set to `false` on both development and production servers. I can sign in to our development server, but strangely, I can't sign in to production. Is there anything else I can do to fix this?

[2018-04-29 10:44] phyominthu opened #1103 "Sign-in Error 400 Bad Request"
I can sign in to our *development* server without any problem, but **I can't sign in to *production* server through my app**. As mentioned in [this](https://github.com/edx/edx-app-ios/issues/346#issuecomment-139232076) and [this](https://github.com/edx/edx-app-ios/issues/384#issuecomment-139565775), both servers have `OAUTH_ENFORCE_SECURE` flag set to `false`.

Whenever I try to sign in to product

[2018-04-29 10:55] phyominthu commented on #1068
Hi @saeedbashir, I just opened a new issue #1103 for my similar case, and haven't found a way to solve. Any help would be appreciated!

[2018-05-06 15:31] phyominthu commented on #1096
Hi @saeedbashir, thanks for your reply. But I'm curious why it works after logging in and out. Do you have any workarounds in mind? Thanks.

[2018-05-08 09:17] saeedbashir commented on #1096
@phyominthu It's because native course discovery needs some logged in stuff for course detail page.

[2018-05-11 20:37] saeedbashir commented on #1096
@zeshanarifios Could you please share your findings and the workaround with @phyominthu?

[2018-05-12 11:53] zeshanarifios commented on #1096
@phyominthu
**Analysis**

Basically in `CourseCatalogDetailViewController` we are joining two streams.
1.  courseStream (Stream to request Course details for view)
2. enrolledStream (Stream to check either this course is enrolled or not)

and listening joined stream of this pair in function `listen()`, which only fired when both streams have fired. But in case when user is not logged in,`enrolledS

[2018-05-12 19:43] Garyguo2011 opened #1109 "Sign-in Error: Can Not Login"
I have a Open Edx server successfully set up with valid SSL certificate. I can login the new user on web successfully. I set up Mobile app, where can success register a new user (Django administration console shows new user after registration), can receive the forget password email. I think the mobile API is partially working already.

However, when i try to login, **it always give "Sign-in Error:

[2018-05-16 06:54] latinosamuel opened #1111 "Exception in thread main javax.net.ssl.sslexception java.lang.runtimeexception"
Hello,

I'm running a release version, which corresponds to 2.14.1, with the version of xcode 8.3 on a virtual machine, and I get the following error.
I can not solve it.
Someone can help me?
![error](https://user-images.githubusercontent.com/14805601/40101105-40015034-58de-11e8-9e20-9a3e9ea9a164.png)

[2018-05-16 07:05] saeedbashir commented on #1111
@latinosamuel You need Xcode 9.2 to run V2.14.1

[2018-05-16 07:14] saeedbashir commented on #1109
@Garyguo2011 I'm not able to access the specified `API_HOST_URL: https://edx-dev.ibear.host`. Could you please check the access level or your server?

[2018-05-16 08:02] latinosamuel commented on #1111
Hello @saeedbashir ,

Sorry for my mistake, I did not run the code in the version of xcode 8.3, as I mentioned before, but I ran in xcode 9.3.1.
According to the documentation I also have JAVA installed, in which I have the version,
"1.6.0_65".
Is the version of release v2.14.1 mandatory to run on xcode 9.2? Because in version 9.3.1 it was where the previous problem occurred.

Thank you for attent

[2018-05-16 08:04] saeedbashir commented on #1111
Yes the V 2.14.1 was compiled with Xcode 9.2.

[2018-05-16 17:25] phyominthu commented on #1096
@zeshanarifios @saeedbashir Thank you so much for this! It's now working as expected.

[2018-05-16 19:06] latinosamuel commented on #1111
Hello @saeedbashir ,

The problem remains, even after compiling with xcode 9.2, gives the same error.

Could you give me another solution?

[2018-05-16 19:55] latinosamuel commented on #1111
Hello @saeedbashir ,

The problem was solved with the installation of a new version of Java that corresponds to JDK 8.
The following image corresponds to the solution of the problem.

So I will give this issue as closed.

Thank you @saeedbashir

![macos 10 13 latinosamuel-2018-05-16-20-47-33](https://user-images.githubusercontent.com/14805601/40140680-6d37a716-594b-11e8-9b77-85c8522e0424.png)

[2018-05-16 19:56] #1111 closed

[2018-05-23 20:35] latinosamuel opened #1118 "I can not see the navigation drawer in the application"
Hello,

I'm running a release version, which corresponds to 2.14.1, with the corresponding xcode version 9.2.
My doubt, and that I am not able to put a navigation drawer in the application, and I do not know if this version of code has already made this functionality available.
Does it have to activate some variable to appear the navigation drawer?
I'm a beginner to programming IOS.
The following

[2018-05-24 08:54] latinosamuel commented on #1118
Can someone help me?
I'm a beginner to programming IOS.
The following image shows the functionality you want to put.

Thank you.

![sem titulo1](https://user-images.githubusercontent.com/14805601/40475043-6a3d53ec-5f38-11e8-9119-526c9c390e06.png)

[2018-05-24 11:34] saeedbashir commented on #1118
@latinosamuel Drawer based navigation was deprecated in release  v2.13.3 and completely removed in v2.41.1. You can only use Drawer based navigation till [v2.13.3](https://github.com/edx/edx-app-ios/releases/tag/release%2F2.13.3)

[2018-05-24 12:53] latinosamuel commented on #1118
Hello @saeedbashir  ,
Thanks for the previous information.
I am now testing the iOS 2.13.3 release, but this one is experiencing this error.

Could you give me any solution? And I really need the Navigation Drawer.

![erro](https://user-images.githubusercontent.com/14805601/40486667-d55545e2-5f59-11e8-87ad-4c4961d63d41.png)

[2018-05-24 13:00] saeedbashir commented on #1118
Hi @latinosamuel
Please replace `compile 'org.codehaus.groovy:groovy-all:` with `compile 'org.codehaus.groovy:groovy-all:2.6.0-alpha-2'` in `build.gradle` file.

[2018-05-24 13:12] latinosamuel commented on #1118
Hello @saeedbashir ,

Thank you. Your solution solved the problem.

[2018-05-24 19:13] latinosamuel commented on #1118
Hello @saeedbashir ,

Sorry for having reopened the issue, but this question came to me.

I'm not able to activate this functionality: visualization of all the existing courses in the platform, more specifically the discovery courses functionality.

Can you help me?

Thank you

![discovery](https://user-images.githubusercontent.com/14805601/40506270-cd632284-5f8e-11e8-9e0d-4846465ada5d.png)

[2018-05-25 06:49] latinosamuel commented on #1118
Hello @saeedbashir ,
Please, could you help me?
I'm not even able to solve the problem.

[2018-05-25 07:11] saeedbashir commented on #1118
@latinosamuel Please go through this [wiki document](https://openedx.atlassian.net/wiki/spaces/MA/pages/48792067/App+Configuration+Flags).

[2018-05-25 07:13] latinosamuel commented on #1118
Hello, @saeedbashir ,

The image is wrong the functionality does not correspond to the discovery course, but to the find course that I can not add.

[2018-05-25 07:42] saeedbashir commented on #1118
@latinosamuel Could you please elaborate a bit more.

[2018-05-25 07:51] latinosamuel commented on #1118
Hello saeedbashir ,

I'm having difficulty adding the Find Course functionality in the Navigation Drawer, which corresponds to the listing of all courses in the plant, in which a given student can then write. I think I have to turn this feature on somewhere, but I can not find the file even after several searches.

[2018-05-25 08:01] saeedbashir commented on #1118
@latinosamuel Please see `line 169` in `OEXRearTableViewController`.

[2018-05-25 08:55] latinosamuel commented on #1118
Hello @saeedbashir ,

The first image corresponds to the line, which you have analyzed, but it is also a reference to Discover Courses and not to Find Courses.

![dis](https://user-images.githubusercontent.com/14805601/40535652-a4c14e00-6001-11e8-951b-06027c4b7877.png)
![disc2](https://user-images.githubusercontent.com/14805601/40535654-a4e951e8-6001-11e8-9fb4-cf15918873ba.png)

The second image c

[2018-05-25 09:08] saeedbashir commented on #1118
Discover Courses and Find Courses are the two names of a single entity. If the course discovery type is
`native` then it shows 'Find Courses' but it the type is `webview` then it shows `Discover Courses`

[2018-05-25 09:37] latinosamuel commented on #1118
Hello @saeedbashir ,

the problem is that in the native mode the find course is not being shown this functionality in the navigation drawer.

[2018-05-25 11:19] #1118 closed

[2018-05-25 11:20] latinosamuel commented on #1118
Problem solved, Thanks

[2018-05-26 08:47] latinosamuel opened #1120 "The page to make a Survey does not appear, being the frame to make reload in the release 2.13.2"
Hello,

I'm running a release version, which corresponds to 2.13.2, with the version of xcode 9.2.

During the execution of the project, this problem occurs to me, which consists of a certain user clicking on a course, and trying to respond to a certain survey, and when I try to enter the same the page is done reload, and does not advance to the survey

The following image shows the problem, previ

[2018-05-28 07:43] latinosamuel commented on #1120
Hello @saeedbashir ,

Sorry for the inconvenience, but I'm not really able to solve this problem, in this release and the one I'm using.
However I've been testing on other releases and it's the same.
Could you give me a possible solution to this problem?

Thank you

[2018-05-28 11:52] saeedbashir commented on #1120
@latinosamuel Could you please share your sandbox details and test user credentials so that I can see exactly what is breaking.

[2018-05-28 13:10] latinosamuel commented on #1120
Hello @saeedbashir ,

I do not know if this is what you want. The following image demonstrates the Output of the Application.

And what does the image demonstrate? Or when it refers to "sandbox details", it refers to the data in the default_config folder of the config.yaml file.

![macos 10 13 latinosamuel-2018-05-28-14-06-41](https://user-images.githubusercontent.com/14805601/40615931-cb9b2588-62

[2018-05-29 08:43] saeedbashir commented on #1120
@latinosamuel I need `default_config` data.

[2018-05-29 08:49] latinosamuel commented on #1120
Hello @saeedbashir ,

API_HOST_URL: 'https://apdcdigitalacademy.bridgelk.com'
ENVIRONMENT_DISPLAY_NAME: 'APDCDigitalAcademy'
FEEDBACK_EMAIL_ADDRESS: 'servicedesk@bridgelk.com'
OAUTH_CLIENT_ID: '3b7ac86e311e5f64bf4e'

[2018-05-29 08:51] saeedbashir commented on #1120
Could you please credentials of a test user as well?

[2018-05-29 09:02] latinosamuel commented on #1120
Hello @saeedbashir ,

Email: sdfl-1@sapo.pt
pass: latino

[2018-05-29 09:42] saeedbashir commented on #1120
@latinosamuel It seems your server is not properly configured for `oauth2`. Your server is not allowed to create a session for the mobile web. This [URL](https://apdcdigitalacademy.bridgelk.com/oauth2/login/) is being used for creating a session.

[2018-05-29 09:59] latinosamuel commented on #1120
Hello @saeedbashir ,
Could you give me a possible solution to this problem?

[2018-05-29 10:13] saeedbashir commented on #1120
@latinosamuel I don't know much about server but maybe this [wiki document](https://openedx.atlassian.net/wiki/spaces/OpenDev/pages/80249207/OAuth+2.0) will help you out.

[2018-05-29 11:59] latinosamuel commented on #1120
Ok

[2018-05-30 21:32] egenia opened #1122 "Swift 3.3 : property 'rawValue' must be as accessible as its enclosing type because it matches a requirement in protocol 'RawStringExtractable'"
With Swift 3.3, we got his error when compiling master branch
property 'rawValue' must be as accessible as its enclosing type because it matches a requirement in protocol 'RawStringExtractable'

[2018-05-31 10:30] saeedbashir commented on #1122
@egenia Which Xcode you are using?
At the moment the codebase is supported with Xcode 9.2

[2018-05-31 10:31] saeedbashir commented on #1120
@latinosamuel Can I close this issue?

[2018-05-31 12:38] egenia commented on #1122
@saeedbashir Xcode 9.4, not sure it is downgradable.

[2018-05-31 14:09] #1120 closed

[2018-05-31 16:06] murzaku commented on #1122
You can download Xcode 9.2. It can run in parallel with 9.4 (you can have them both installed). However, I was able to compile with 9.4 by changing the enum in the files that fail to build to _fileprivate_ instead of _private_.
Here is the download link for 9.2: https://download.developer.apple.com/Developer_Tools/Xcode_9.2/Xcode_9.2.xip

[2018-06-03 20:18] ariestiyansyah opened #1123 "Command /bin/sh failed with exit code 1"
I got this error when using `master` branch in XCode 9.2, my internet is normal.

[code]

[2018-06-10 20:20] microdevil opened #1127 "Swift compiler error"
Hi...

I am trying to run this project however i could not do this because there is message error about swift compiler.

This is screen shot on my xcode
<img width="436" alt="screen shot 2018-06-11 at 03 18 27" src="https://user-images.githubusercontent.com/3820278/41205895-290ffa90-6d26-11e8-9f29-9a43d5e51000.png">

I am using Xcode 9.4 and try to run in IOS 11.4.

Thanks....

I hope i got the ri

[2018-06-10 21:25] latinosamuel opened #1128 "Create ipa file xcode 9.2"
Hello,

At this point I find myself trying to export the application to an "ipa" file, so that it can run on a real iphone.
As you can see in the following image, these problems are associated with my Apple developer account:

Your development team does not support the associated domains capability;
Your development team does not support the push notifications capability;
xcode could not find any

[2018-06-12 17:06] ariestiyansyah commented on #1123
Fixed by reset and install new xcode

[2018-06-12 17:06] #1123 closed

[2018-07-05 07:33] jagonzalr commented on #1128
@latinosamuel you can't use `org.edx.mobile` because that belongs to edX. You need to create your own certificate with a unique `reversed url`

[2018-07-18 13:31] dodikk opened #1142 "[question] is it possible to target the prod with the app from the current repository ?"
I'd like to build the mobile app to be the same as the one in the appstore and try re-building it with various options to see their effect on the look-and-feel.

I've tried specifying the following hosts but none of them worked for my website credentials

[code]

Most likely, I am missing the correct `OAUTH_CLIENT_ID` but I assume that keeping it open might be a security breach, so the id for the

[2018-07-18 13:38] #1128 closed

[2018-08-06 09:07] saeedbashir commented on #1142
`OAUTH_CLIENT_ID` is used to authenticate a user on mobile so you should have had set it up properly before working on a mobile app for any platform.

[2018-08-06 09:07] #1142 closed

[2018-08-06 09:10] saeedbashir commented on #1127
@microdevil Are you still facing this issue?

[2018-08-06 09:11] saeedbashir commented on #1122
Support Xcode 9.4 has been added, now you can run the project on latest Xcode.

[2018-08-06 09:11] #1122 closed

[2018-08-06 09:13] saeedbashir commented on #1109
@Garyguo2011 I haven't heard anything on this issue from you so closing this issue. Please do let me know if you need any help?

[2018-08-06 09:15] #1109 closed

[2018-08-06 09:18] dodikk commented on #1142
I understand that. I was asking if the value for accessing `https://courses.edx.org` is publicly available (has been published on confluence or some other publicly available location).

[2018-08-06 09:29] saeedbashir commented on #1083
Facebook SDK has been updated to latest version.

[2018-08-06 09:29] #1083 closed

[2018-08-10 08:11] Ben21hao opened #1147 "Do you have instructions for using this class?"
Every time you want to add new functionality, the development process becomes difficult when you encounter interaction with this class in the diagram.It annoyed me.Can you give me a rough description of the process?

[2018-08-10 08:12] Ben21hao commented on #1147
public class Feed<A> : LifetimeTrackable {
    public let lifetimeToken = NSObject()

    fileprivate let backing = BackedStream<A>()
    private let refreshTrigger : (BackedStream<A>) -> Void

    public var output : OEXStream<A> {
        return backing
    }

    public init(refreshTrigger : @escaping (BackedStream<A>) -> Void) {
        self.refreshTrigger = refreshTrigger
    }

    public fu

[2018-08-22 20:35] jaimeohm commented on #1147
@Ben21hao It's an eyesore, aye! My understanding of your ask here is that you're asking for a working understanding of this code. Have I got that right?

The core concept here is Streams (OEXStream is read-only, Sync is writeable, Feed is a backed stream). All data in the app (okay, most) uses Streams. If you want to understand the core concept of Streams better, I recommend wrapping your head aro

[2018-10-04 06:59] crane-hiromu opened #1157 "We can not accept Clash and Event in Xcode 10.1-beta2"
If we build app by Xcode 10.1 beta2
We can not accept Clash and Event for Fablic Dashboard.

[2018-10-08 10:44] VikasSingh-NITB opened #1160 "Caught Exception"
Does Fabric handled caught exception automatically like uncaught exception?

[2018-10-19 09:19] saeedbashir commented on #1160
What issue you are facing?

[2018-10-19 09:52] saeedbashir commented on #1157
The codebase is not supporting Xcode 10 yet. You can find more on Xcode 10 support [here](https://openedx.atlassian.net/browse/LEARNER-6387)

[2018-10-27 23:50] jaimeohm commented on #1160
The Fabric docs may be a better place to look for answers to this question. I use fabric to check for crashes, and it works great for that. I'm interested in adding logging for other output, but we don't have more detailed logging right now, if that's what you're seeking.

[2018-10-27 23:52] jaimeohm commented on #1157
Adding Xcode 10 support was pretty easy and I'll contribute that upstream as soon as I can, but until I or someone else pushes that upstream, I recommend using Xcode 9.4, that's what works on this codebase right now.

[2018-10-27 23:57] jaimeohm commented on #1007
Are you referring to video-specific text content or are you referring to all text content?

I think all of us want to see more offline support. It's something that will need to be added app-wide for the Core pieces (courses list, course detailes, user profiles, discussions) that are already native, then added Xblock-by-Xblock. Xblocks are a never-ending list, so it will never be a complete thing,

[2018-10-28 00:07] jaimeohm commented on #954
It's not top priority for our (Appsembler) universities right now, but I'm interested in seeing this happen, it's on our requested features. If you start a PR on iOS or Android I'm down to help review it, just ping me. I think @pomegranited (OpenCraft) universities have it as a higher priority right now, so maybe there's some code on her end. A developer at Stanford was working on a solution for t

[2018-10-28 00:08] jaimeohm commented on #954
The core codebase does NOT support SAML right now, but there may be a solution that you could pull from that is on an open-source fork that hasn't made it upstream yet.

[2018-10-28 00:18] jaimeohm commented on #946
Duplicated, confirmed. This is a bug on iOS and Android.

[2018-10-29 02:36] microdevil commented on #1127
@jaimeohm and @saeedbashir it is solved.

[2018-10-29 09:30] pomegranited commented on #954
Thanks for the ping here @jaimeohm !  Campus.IL have a project in the works to add support for their SAML-based SSO, so will let the team members know about this issue.

[2018-10-30 12:21] saeedbashir commented on #1157
@jaimeohm Adding the support of XCode isn't an issue and the team already worked on it and a [PR](https://github.com/edx/edx-app-ios/pull/1163) is already opened.

The [PR]((https://github.com/edx/edx-app-ios/pull/1163)) didn't make it to the master because of [Travis](http://travis-ci.org) didn't added support of latest Mac OS Mojave yet. You can find more details about Xcode 10 support at [LEARN

[2018-10-31 12:15] #1127 closed

[2018-12-14 21:31] Ivanca opened #1220 "How is this app architectured?"
Hi, for anybody willing to answer: Is there any good overview of what each folder contains and a general explication of how the modules/scripts work with one another?

[2019-04-17 04:46] unzyp opened #1264 "Unable to load course, spinning endlessly on hawthrone instance"
Hi edx team,

We're facing an issue in loading a content block. The video seems fine, but not HTML content block, it shows spinning wheel endlessly.

There might be a problem with oauth2/login, or maybe there's something missing on configuration. Previously the app can't login, but we handled it by adding _WSGIPassAuthorization On_ into httpd.conf

And now we're facing spinning wheel on HTML conte

[2019-04-17 08:13] unzyp commented on #1264
I found the solution, check this out https://community.bitnami.com/t/unable-to-load-course-openedx-ios-spinning-endlessly-on-viewing-html-block/66694/4

[2019-04-17 08:13] #1264 closed

[2019-10-04 08:52] mahendra0401 opened #1304 "Unable to load course, spinning endlessly on hawthorne instance"
I'm using an open edx hawthorn version in IOS app. After login successfully if we wait for one minute and try to access any component like HTML or Problem, It's unable to load course and spinning endlessly.

I have also tried this solution: [https://community.bitnami.com/t/unable-to-load-course-openedx-ios-spinning-endlessly-on-viewing-html-block/66694](https://community.bitnami.com/t/unable-to-lo

[2019-10-04 10:10] saeedbashir commented on #1304
@mahendra0401 This is already been discussed in the open edX mobile channel. Please have a look https://openedx.slack.com/archives/C0F0NA2F5/p1550459747003300

[2019-10-04 10:10] #1304 closed

[2019-10-09 11:51] mahendra0401 commented on #1304
Thanks, Saeed Bashir,
I have applied a given solution, but still, I'm getting this issue after one minute if I don't do any activity. Is there any parameter to an unusual session timeout?
Also in android device it's working fine but getting this issue only in IOS.

[2019-10-15 10:33] CongBaDo opened #1308 "UIWebview is deprecated"
Apple Store rejects the app with UIWebview. Please convert to WKWebView

[2019-10-15 10:48] salman2013 commented on #1308
This issue is in our pipeline. This will be updated soon.

[2019-10-29 03:41] CongBaDo commented on #1308
@salman2013 Could you tell me the plan to fix it?

[2019-10-29 05:06] saeedbashir commented on #1308
@CongBaDo It's on its way to master. You can track it [here](https://openedx.atlassian.net/browse/LEARNER-7450)

[2019-11-16 13:38] saeedbashir commented on #1308
This issue has been addressed.

[2019-11-16 13:38] #1308 closed

[2019-12-02 21:41] saulurias opened #1315 "Installing Pods Failure"
While trying to install pods I get the error: ``undefined method `headers_build_phase' for #<Xcodeproj::Project::Object::PBXAggregateTarget:0x00007fe399bd7368>``

<img width="853" alt="Screen Shot 2019-12-02 at 15 38 24" src="https://user-images.githubusercontent.com/11281932/69997483-e3e4a680-1519-11ea-8974-df0d320d42af.png">

[2019-12-03 06:49] mumer92 commented on #1315
Hi @saulurias,
This is a known issue in cocoapods, we are looking into it. Until then, please use cocoapods version `1.8.4`.

[2019-12-03 16:25] saulurias commented on #1315
Thanks 😃

[2019-12-04 06:20] #1315 closed

[2019-12-18 06:33] mrrobo1510 commented on #1010
thanks for your comment.. Good fixed

[2020-01-07 03:30] docongba commented on #1315
It still happens on the latest code with cocoapods version 1.8.4

[2020-01-07 07:47] docongba commented on #1315
How to solve it?

[2020-01-10 16:33] DanielReyesDev opened #1324 "How to add new Pods successfully without breaking the project?"
I just wanted to know how to add new Pods successfully without breaking the project? Currently, whenever I add a new pod, the project breaks.

[2020-01-15 07:33] mumer92 commented on #1315
@docongba Try cocoapods `1.5.3`

[2020-02-18 07:17] mumer92 commented on #1324
@DanielReyesDev
What issue are you facing? What `pod` version are you using?

[2020-04-08 04:11] CongBaDo opened #1351 "Bluetooth permission in iOS 13"
I updated the iOS device to iOS 13 and there is a permission popup that requires Bluetooth permission. Apple review rejected all update versions for now. How can I pass this case to upload to Apple Store again
This is a message from Apple Review

[2020-04-09 12:30] salman2013 commented on #1351
@CongBaDo  Can you share the particular error which apple sends in the rejection case?

[2020-04-10 01:11] CongBaDo commented on #1351
@salman2013 updated

[2020-04-22 09:03] aolee commented on #915
Hi Sorry for the noob question, what is the {path_id} ? is this a fixed value or is this a dynamic argurement - so I just need keep the {path_id} from the config.

e.g.
**keep it**
COURSE_INFO_URL_TEMPLATE: 'http://mooc.huatandm.com/courses/{path_id}/about'
**or is it value i need to get some where from the lms and replace it ?**
COURSE_INFO_URL_TEMPLATE: 'http://mooc.huatandm.com/courses/123/abou

[2020-04-22 14:15] saeedbashir commented on #1351
The problem and solution were discussed in the [Open edX mobile-apps](https://openedx.slack.com/archives/C0F0NA2F5/p1586497162019900) channel.

[2020-04-22 14:15] #1351 closed

[2020-04-27 20:06] #922 closed

[2020-05-01 07:45] JustinPringle opened #1358 "Login Issue edx-app-ios-release-2.21.5"
Greetings,

I need some assistance in trying to configure the edx mobile app to talk to my installation of edx. I have read several similar issues on this but haven't managed to find a solution.

edx server setup:
I followed the instructions from the edX docs in setting following to True:
[code]

edx mobile app setup:
I followed the instructions in setting up my own config folder with correct url

[2020-05-02 12:01] JustinPringle commented on #1358
update - I edited my httpd.conf file for apache server adding:

WSGIPassAuthorization On

and login now works... However I am not getting a "your action could not be completed" error wen logging in. I will check log files on server to see if what is happening

[2020-05-03 07:42] JustinPringle commented on #1358
Ok I located an issue for my above point. Checking the apache access_log i see the following error:
GET /api/mobile/v1/users/{user}/course_enrollments/ HTTP/1.1" 404 7565
is there a way to change to v0.5?

[2020-05-04 15:40] JustinPringle commented on #1358
solved by updating to Ironwood

[2020-05-04 15:40] #1358 closed

[2020-05-07 15:24] amonsef-github commented on #1351
@saeedbashir
I'm facing the same issue and couldn't access [Open edX mobile-apps](https://openedx.slack.com/archives/C0F0NA2F5/p1586497162019900) channel to check the solution. Could you please help how to join this slack channel or post the solution here.

[2020-05-10 07:53] amonsef-github commented on #1351
@CongBaDo I'm facing the same issue, did you reach a solution ?

[2020-05-12 22:07] amonsef-github opened #1360 "Swift Compiler Error: Argument labels '(paginator:, collectionView:)' do not match any available overloads."
The build is failing with below Swift Compiler Error
`./edx-app-ios/Source/CourseCatalogViewController.swift:43:16: Argument labels '(paginator:, collectionView:)' do not match any available overloads.`
`Overloads for 'PaginationController<_>' exist with these partially matching parameter lists: (paginator: P, manipulator: ScrollingPaginationViewManipulator), (paginator: P, tableView: UITableView)

[2020-05-12 22:16] #1360 closed

[2020-05-17 10:00] amr-elabd opened #1363 "ITMS-90809: Deprecated API Usage - New apps that use UIWebView are no longer accepted."
**ITMS-90809: Deprecated API Usage - New apps that use UIWebView are no longer accepted. Instead, use WKWebView for improved security and reliability. Learn more** ([https://developer.apple.com/documentation/uikit/uiwebview](https://developer.apple.com/documentation/uikit/uiwebview)).

Hi,
Getting this error from **App Store Connect** when trying to upload a new build. This now applied to new apps

[2020-05-18 13:58] amonsef-github commented on #1363
I have searched for UIWebView usage and found it only in the pods as below:

[code]

[2020-05-20 08:39] saeedbashir commented on #1363
@amonsef-github We're working on removing the `Fabric` and `Crashlytics` in favor of `FirebaseCrashlytics`.

[2020-05-29 23:35] luismorenolopera commented on #1363
@saeedbashir hello, Does this PR [#1364](https://github.com/edx/edx-app-ios/pull/1364) solve this problem. In my case it keeps happening.

[2020-06-01 05:19] saeedbashir commented on #1363
Hopefully, this PR #1364 should solve your problem.

[2020-06-04 08:23] isankadn commented on #1363
I think still it's not, I just got "ITMS-90809: Deprecated API Usage " email from Apple. I think GoogleSignIn pod 4.4.0 still uses "`UIWebView`"
Binary file `./Pods/GoogleSignIn/Frameworks/GoogleSignIn.framework/GoogleSignIn `matches.
Appreciate if anybody can confirm.

[2020-06-04 09:27] artistanbul commented on #1363
We got also this message:

[2020-06-04 09:29] artistanbul commented on #1363
We got also this message:

[2020-06-04 10:18] saeedbashir commented on #1363
This is on our list but at the moment we do have more important stuff to take care of. Hopefully, the issue will be resolved in our next release.

[2020-06-05 10:58] sercesh commented on #1363
i tried to update pod with your suggestion and used lastest version of google-sign in now, it is working.

[2020-06-05 11:05] isankadn commented on #1363
Great if it's working, for me got some issues. I will try again.

[2020-06-11 16:38] luismorenolopera commented on #1363
@sercesh I tried updating GoogleSignIn with `pod update GoogleSignIn` but this generates error.

``[!] An error occurred while processing the post-install hook of the Podfile.
undefined method `headers_build_phase' for #<Xcodeproj::Project::Object::PBXAggregateTarget:0x00007fcdef950050>
/Users/DavidPrado/projects/edx-app-ios/Podfile:37:in `block (3 levels) in from_ruby'
/Users/DavidPrado/projects/

[2020-06-12 05:06] mumer92 commented on #1363
@luismorenolopera
Use cocoapods version `1.5.3`

[2020-06-16 18:50] #1363 closed

[2020-06-17 08:50] sercesh commented on #1363
@mumer92 is it solved?

[2020-06-17 16:58] luismorenolopera commented on #1363
I updated GoogleSignIn to the latest version and I still have the same error.

[2020-06-18 08:37] #1324 closed

[2020-06-18 08:40] mumer92 commented on #1363
@sercesh @luismorenolopera  currently we don't have an ETA for next release but we are in process of upgrading deprecated libraries. You can use Cocoapods version `1.5.3` to update pods locally on your side.

[2020-07-21 12:53] unzyp opened #1387 "Microsoft external auth is not showing on login view"
Hi,

I would like to report that the external login for microsoft is showing on the register view but not login view.

Here is attach the screenshot.

![Simulator Screen Shot - iPhone 11 - 2020-07-21 at 19 52 14](https://user-images.githubusercontent.com/49706422/88058226-5d0a3a00-cb8d-11ea-9053-b0ae2c70ea30.png)

![Simulator Screen Shot - iPhone 11 - 2020-07-21 at 19 52 26](https://user-images.gi

[2020-07-21 13:03] unzyp commented on #1387
Found it in OEXLoginViewController

Just need to replace (void)layoutSubviews with

[code]

But another problem shows up. When clicking the microsoft login, it shows the Sign-in Error

![Simulator Screen Shot - iPhone 11 - 2020-07-21 at 20 02 12](https://user-images.githubusercontent.com/49706422/88058053-26ccba80-cb8d-11ea-8395-43f02eedd6e1.png)

Let me post it when found the solutions

[2020-07-22 12:20] illia-derevianko-raccoon opened #1388 "App with 3rd party sign in services can't be uploaded(published) to the App Store"
From iOS SDK 13 all apps contained 3rd party login services must include Sign In via Apple

[Link to the news](https://developer.apple.com/news/?id=09122019b)

Do you have any plans to implement this feature?

**[UPD 13.08.2020]**
Apple was rejected the app with sign in via Apple regarding to wrong _`Guideline 5.1.1 - Legal - Privacy - Data Collection and Storage`_

Full message from the Apple:

[2020-08-07 06:15] mumer92 commented on #1363
Closed by #1392

[2020-09-01 18:34] mumer92 commented on #1388
#1400 closes this one

[2020-09-01 19:40] #1388 closed

[2020-09-27 08:31] aurishhammadhafeez opened #1412 "App not build for iOS 13 SDK"
As of June 30, 2020 Apps for iPhone or iPad must be built with the iOS 13 SDK or later, ref: https://developer.apple.com/news/?id=03262020b

The app failed to build on iOS 13 SKD.

[2020-09-28 03:32] saeedbashir commented on #1412
@aurishhammadhafeez The latest release `v 2.23.0` was released by using the XCode 11.6 which is based on iOS 13.6 SDK. Can you please let me know exactly what issue you are facing?

XCode 11.6 release notes: https://developer.apple.com/documentation/xcode-release-notes/xcode-11_6-release-notes

[2020-10-14 03:04] vumai2308 opened #1416 "[Apple Store] In-app Purchase is required when release the app on apple store"
Apple updated their review guidelines, they required that app enabled the purchase in the app by the in-app purchase.
Do we have any solution for this problem?
Thank you for your help.

![1](https://user-images.githubusercontent.com/43944562/95938580-5d207b80-0e04-11eb-8f41-a63b60394b6d.png)
![2](https://user-images.githubusercontent.com/43944562/95938591-614c9900-0e04-11eb-8ff1-231b33df2073.png)

[2020-12-10 17:23] illia-derevianko-raccoon commented on #1416
Hi @vumai2308

Yep, Apple has tightened the rules for purchases and tightened the review of the apps.

As I know EdX suggests only [verified certificate](https://www.edx.org/verified-certificate) for the Android app. You can see it [here](https://openedx.atlassian.net/browse/LEARNER-7406).

Could you clarify what is your paid content and solution? How did you implement In-App Purchase? Can you sha

[2020-12-11 02:50] vumai2308 commented on #1416
Hi @illia-derevianko-raccoon,
Thank you for your info.
In my app, learners pay for course content, which courses have fees.
I didn't implement In-App Purchasers yet.
I discussed Apple. And they give me guidelines. I think we can consider
+ Disable register feature
+ Disable payment on the app (learner still can payment on the web)
I hope this info useful.

[2020-12-16 11:43] illia-derevianko-raccoon commented on #1416
@vumai2308 thanks for you answer

We at RaccoonGang explored current suggestions from AppStore and conclusions from existing [epic in Jira](https://openedx.atlassian.net/browse/LEARNER-7406). We asked EdX community about E-commerce functionality for mobile applications here: https://discuss.openedx.org/t/e-commerce-for-edx-mobile-applications/3756
No reactions for now...

If you interested, you ca

[2020-12-18 07:23] vumai2308 commented on #1416
@illia-derevianko-raccoon, Thank you so much for this! We'll update our app.

[2021-02-10 21:43] EgHubs commented on #1315
Any solution?
cocoapods 1.5.3 didn't work for me.

[2021-02-11 04:40] mumer92 commented on #1315
@EgHubs We are in process of adding support of xcode 12 in this [PR](https://github.com/edx/edx-app-ios/pull/1457), with it we have also updated cocopods version to latest.

[2021-04-27 10:41] alihaidermalik opened #1496 "Registration view seems to not work"
I have configured all the flags in the app most of the functionalities are working fine but the registration view is not working.

[2021-04-28 04:42] mumer92 commented on #1496
@alihaidermalik what issue are you exactly facing?

[2021-04-28 05:06] alihaidermalik commented on #1496
When I click on register button in the app it gets hang and after some second gets crash.

[2021-04-28 05:07] mumer92 commented on #1496
Can you share logs?

[2021-04-28 05:20] alihaidermalik commented on #1496
![image](https://user-images.githubusercontent.com/60172147/116350430-c8310e80-a7a6-11eb-8752-8b7f713d4b72.png)

[2021-04-28 05:34] mumer92 commented on #1496
@alihaidermalik pease join OpenEdX slack channel and post your question over there, with proper formatted text log.
joing uisng:
[https://open.edx.org/blog/open-edx-slack](https://open.edx.org/blog/open-edx-slack
)

[2021-04-28 07:36] alihaidermalik commented on #1496
I have resolved this issue by commenting out this code

**// [weakSelf populateDefaultFormFields];**

from OEXRegistrationViewController.m file

[2021-04-28 10:18] #1496 closed

[2021-08-24 08:20] vunguyen-dmt opened #1537 "AppTrackingTransparency prevent app store release"
Because the app use AppTrackingTransparency so I have to choose "yes" on data collection.
I got this message from Apple reviewer
"We're looking forward to completing our review, but we need more information to continue. Your app uses the AppTrackingTransparency framework, but we are unable to locate the App Tracking Transparency permission request.

Since you indicated in App Store Connect that yo

[2021-09-10 09:31] mumer92 commented on #1537
@vunguyen-dmt We are currently not using `AppTrackingTransparency`, you can safely remove `NSUserTrackingUsageDescription` from `info.plist` file

[2021-09-15 10:43] #1537 closed

[2021-11-05 10:46] enigmadevs opened #1563 "Invalid Signature at App Store uploading"
I'm trying to upload my app based on edx to the App Store but i receive this error:

_Invalid Signature. Code failed to satisfy specified code requirement(s). The file at path [edX.app/Frameworks/GoogleCast.framework/GoogleCast] is not properly signed. Make sure you have signed your application with a distribution certificate, not an ad hoc certificate or a development certificate._

I set the pro

[2021-11-06 05:16] mumer92 commented on #1563
@enigmadevs have you updated ChromecastSDK to latest version? Which Xcode version are you using?

[2021-11-08 08:38] enigmadevs commented on #1563
I'm using ChormecastSDK 4.4.7 and de latest version of Xcode.

[2021-11-11 19:00] enigmadevs commented on #1563
It works! With Xcode 12.5.1 it shows me the real error and could fix it.

Thanks for your help.

[2021-11-12 06:33] #1563 closed

[2021-11-23 07:19] Ashutos39 opened #1572 "Not able to run the app with Xcode 12.4"
Hi there, I am getting the error while running the code over Xcode 12.4 with simulator 11 pro. Errors are like below

- Module compiled with Swift 5.4 cannot be imported by the Swift 5.3.2 compiler(for module SwiftyStoreKit)

anyone can please help me with this.

[2021-11-23 08:02] mumer92 commented on #1572
The supported xocde version for now is `12.5.1`

[2021-11-24 12:59] Ashutos39 commented on #1572
After running the code with xcode 13.1 using bridging headers with module interfaces is unsupported

[2021-11-25 13:36] Ashutos39 commented on #1572
@mumer92

[2021-12-06 06:08] mumer92 commented on #1572
Currently supported version is Xcode `12.5.1`
We will be adding Xcode 13 support in coming days.

[2021-12-06 06:08] #1572 closed

[2022-01-17 06:23] Ashutos39 opened #1584 "Current issues i am facing with this App"
1. our latest master is not running in Xcode 12+ versions checked on Xcode 12.5, 13.
2. documents are not updated (https://edx.readthedocs.io/projects/edx-installing-configuring-and-running/en/latest/mobile.html) as per this not able to get the edx/app/edxapp/lms.yml file
3. Strings.swift file is missing from the project folder i.e - Resources folder
4. I have old code I am able to run it login al

[2022-01-24 09:07] mumer92 commented on #1584
We are currently in process of updating app to add support for iOS 15 and Xcode 13. Right now, you can checkout the latest release branch which is working fine with Xcode 12.5.1

[2022-02-22 14:58] Ashutos39 opened #1608 "How to update the custom icon to the material shape to use it"
how to convert images to desire string for material use

[2022-03-07 08:56] wanglong121 opened #1614 "the app crashed due to the memory issue when i click the course after login successfully"
The page is stuck and cannot load the course details page view, the app crashed after tens of seconds;
openedx base version : open-release-lilac3;

[2022-03-08 01:36] wanglong121 commented on #1614
the console output some logs as follows(many similar):
2022-03-07 09:37:15.150586+0800 edX[7971:2119488] [LayoutConstraints] Unable to simultaneously satisfy constraints.
	Probably at least one of the constraints in the following list is one you don't want.
	Try this:
		(1) look at each constraint and try to figure out which you don't expect;
		(2) find the code that added the unwanted constraint

[2022-03-14 21:42] mumer92 commented on #1614
@wanglong121 this is info log, not the actual crash log, can you add the actual crash log?

[2022-03-15 01:25] wanglong121 commented on #1614
Details

The app “edX” on iPhone quit unexpectedly.
Domain: IDEDebugSessionErrorDomain
Code: 10
Failure Reason: Message from debugger: Terminated due to memory issue
User Info: {
    DVTErrorCreationDateKey = "2022-03-15 01:22:45 +0000";
    IDERunOperationFailingWorker = DBGLLDBLauncher;
}
--

Analytics Event: com.apple.dt.IDERunOperationWorkerFinished : {
    "device_model" = "iPhone9,1";
    "d

[2022-03-15 01:29] wanglong121 commented on #1614
the console has no more crash log, Do i have any problem compile with xcode 13.2.1 ?

[2022-03-15 05:40] mumer92 commented on #1614
@wanglong121

1. Are you using latest code from master? if so, it requires Xcode 13.2.1.
    if you are using the last release code, you will need Xcode 12.5.1

2. Is it happening on vanilla installation of code? or do you have some modifications done?
3. Can you please check for memory leaks using Xcode's Allocations tools and also look for leak objects.

[2022-03-16 02:05] wanglong121 commented on #1614
@mumer92
thanks for your reply!
1、I'm using the open release code :open-release-lilac3;
2、it is happening on vanilla installation of code
3、I‘m try to use Xcode's Allocations tools to find the leak objects, I will reply you latter.

[2022-03-16 07:38] wanglong121 commented on #1614
<img width="1281" alt="1" src="https://user-images.githubusercontent.com/41287499/158539612-ede7c059-5133-4a5d-baf4-5d97b5daa45d.png">

[2022-03-17 10:24] mumer92 commented on #1614
@wanglong121 can you share recording of the app? from the logs, is looks like it is crashing somewhere in scope of UITableView.

[2022-04-01 19:22] Ian2012 opened #1624 "Multiple command produce error"
When I click on Product > Archive I get 18 errors similar to the one below. It only happens with Archive, when I try Run the app it works correctly:

Multiple commands produce '/Users/user213909/Downloads/edx-app-ios-master/DerivedData/edX/Build/Intermediates.noindex/ArchiveIntermediates/edX/IntermediateBuildFilesPath/UninstalledProducts/iphoneos/FIRAppInternal.h':
1) Target 'FirebaseCore' (projec

[2022-04-07 14:52] Ian2012 commented on #1624
@mumer92 Thanks for your help. It works!

[2022-04-07 14:52] #1624 closed

[2022-07-16 13:07] ArnoldBrown commented on #1315
How you solved this issue?

[2022-07-18 06:56] mumer92 commented on #1315
@ArnoldBrown the projects now supports the latest cocoapods, you can run pod install and it should run without any error.